/* Linear icons uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.#{$li-css-prefix}-home:before { content: $li-var-home !important; }

/*
.#{$li-css-prefix}-glass:before { content: $li-var-glass !important; }
.#{$li-css-prefix}-music:before { content: $li-var-music !important; }
.#{$li-css-prefix}-search:before { content: $li-var-search !important; }
.#{$li-css-prefix}-envelope-o:before { content: $li-var-envelope-o !important; }
.#{$li-css-prefix}-heart:before { content: $li-var-heart !important; }
.#{$li-css-prefix}-star:before { content: $li-var-star !important; }
.#{$li-css-prefix}-star-o:before { content: $li-var-star-o !important; }
.#{$li-css-prefix}-user:before { content: $li-var-user !important; }
.#{$li-css-prefix}-film:before { content: $li-var-film !important; }
.#{$li-css-prefix}-th-large:before { content: $li-var-th-large !important; }
.#{$li-css-prefix}-th:before { content: $li-var-th !important; }
.#{$li-css-prefix}-th-list:before { content: $li-var-th-list !important; }
.#{$li-css-prefix}-check:before { content: $li-var-check !important; }
.#{$li-css-prefix}-remove:before,
.#{$li-css-prefix}-close:before,
.#{$li-css-prefix}-times:before { content: $li-var-times !important; }
.#{$li-css-prefix}-search-plus:before { content: $li-var-search-plus !important; }
.#{$li-css-prefix}-search-minus:before { content: $li-var-search-minus !important; }
.#{$li-css-prefix}-power-off:before { content: $li-var-power-off !important; }
.#{$li-css-prefix}-signal:before { content: $li-var-signal !important; }
.#{$li-css-prefix}-gear:before,
.#{$li-css-prefix}-cog:before { content: $li-var-cog !important; }
.#{$li-css-prefix}-trash-o:before { content: $li-var-trash-o !important; }
.#{$li-css-prefix}-home:before { content: $li-var-home !important; }
.#{$li-css-prefix}-file-o:before { content: $li-var-file-o !important; }
.#{$li-css-prefix}-clock-o:before { content: $li-var-clock-o !important; }
.#{$li-css-prefix}-road:before { content: $li-var-road !important; }
.#{$li-css-prefix}-download:before { content: $li-var-download !important; }
.#{$li-css-prefix}-arrow-circle-o-down:before { content: $li-var-arrow-circle-o-down !important; }
.#{$li-css-prefix}-arrow-circle-o-up:before { content: $li-var-arrow-circle-o-up !important; }
.#{$li-css-prefix}-inbox:before { content: $li-var-inbox !important; }
.#{$li-css-prefix}-play-circle-o:before { content: $li-var-play-circle-o !important; }
.#{$li-css-prefix}-rotate-right:before,
.#{$li-css-prefix}-repeat:before { content: $li-var-repeat !important; }
.#{$li-css-prefix}-refresh:before { content: $li-var-refresh !important; }
.#{$li-css-prefix}-list-alt:before { content: $li-var-list-alt !important; }
.#{$li-css-prefix}-lock:before { content: $li-var-lock !important; }
.#{$li-css-prefix}-flag:before { content: $li-var-flag !important; }
.#{$li-css-prefix}-headphones:before { content: $li-var-headphones !important; }
.#{$li-css-prefix}-volume-off:before { content: $li-var-volume-off !important; }
.#{$li-css-prefix}-volume-down:before { content: $li-var-volume-down !important; }
.#{$li-css-prefix}-volume-up:before { content: $li-var-volume-up !important; }
.#{$li-css-prefix}-qrcode:before { content: $li-var-qrcode !important; }
.#{$li-css-prefix}-barcode:before { content: $li-var-barcode !important; }
.#{$li-css-prefix}-tag:before { content: $li-var-tag !important; }
.#{$li-css-prefix}-tags:before { content: $li-var-tags !important; }
.#{$li-css-prefix}-book:before { content: $li-var-book !important; }
.#{$li-css-prefix}-bookmark:before { content: $li-var-bookmark !important; }
.#{$li-css-prefix}-print:before { content: $li-var-print !important; }
.#{$li-css-prefix}-camera:before { content: $li-var-camera !important; }
.#{$li-css-prefix}-font:before { content: $li-var-font !important; }
.#{$li-css-prefix}-bold:before { content: $li-var-bold !important; }
.#{$li-css-prefix}-italic:before { content: $li-var-italic !important; }
.#{$li-css-prefix}-text-height:before { content: $li-var-text-height !important; }
.#{$li-css-prefix}-text-width:before { content: $li-var-text-width !important; }
.#{$li-css-prefix}-align-left:before { content: $li-var-align-left !important; }
.#{$li-css-prefix}-align-center:before { content: $li-var-align-center !important; }
.#{$li-css-prefix}-align-right:before { content: $li-var-align-right !important; }
.#{$li-css-prefix}-align-justify:before { content: $li-var-align-justify !important; }
.#{$li-css-prefix}-list:before { content: $li-var-list !important; }
.#{$li-css-prefix}-dedent:before,
.#{$li-css-prefix}-outdent:before { content: $li-var-outdent !important; }
.#{$li-css-prefix}-indent:before { content: $li-var-indent !important; }
.#{$li-css-prefix}-video-camera:before { content: $li-var-video-camera !important; }
.#{$li-css-prefix}-photo:before,
.#{$li-css-prefix}-image:before,
.#{$li-css-prefix}-picture-o:before { content: $li-var-picture-o !important; }
.#{$li-css-prefix}-pencil:before { content: $li-var-pencil !important; }
.#{$li-css-prefix}-map-marker:before { content: $li-var-map-marker !important; }
.#{$li-css-prefix}-adjust:before { content: $li-var-adjust !important; }
.#{$li-css-prefix}-tint:before { content: $li-var-tint !important; }
.#{$li-css-prefix}-edit:before,
.#{$li-css-prefix}-pencil-square-o:before { content: $li-var-pencil-square-o !important; }
.#{$li-css-prefix}-share-square-o:before { content: $li-var-share-square-o !important; }
.#{$li-css-prefix}-check-square-o:before { content: $li-var-check-square-o !important; }
.#{$li-css-prefix}-arrows:before { content: $li-var-arrows !important; }
.#{$li-css-prefix}-step-backward:before { content: $li-var-step-backward !important; }
.#{$li-css-prefix}-fast-backward:before { content: $li-var-fast-backward !important; }
.#{$li-css-prefix}-backward:before { content: $li-var-backward !important; }
.#{$li-css-prefix}-play:before { content: $li-var-play !important; }
.#{$li-css-prefix}-pause:before { content: $li-var-pause !important; }
.#{$li-css-prefix}-stop:before { content: $li-var-stop !important; }
.#{$li-css-prefix}-forward:before { content: $li-var-forward !important; }
.#{$li-css-prefix}-fast-forward:before { content: $li-var-fast-forward !important; }
.#{$li-css-prefix}-step-forward:before { content: $li-var-step-forward !important; }
.#{$li-css-prefix}-eject:before { content: $li-var-eject !important; }
.#{$li-css-prefix}-chevron-left:before { content: $li-var-chevron-left !important; }
.#{$li-css-prefix}-chevron-right:before { content: $li-var-chevron-right !important; }
.#{$li-css-prefix}-plus-circle:before { content: $li-var-plus-circle !important; }
.#{$li-css-prefix}-minus-circle:before { content: $li-var-minus-circle !important; }
.#{$li-css-prefix}-times-circle:before { content: $li-var-times-circle !important; }
.#{$li-css-prefix}-check-circle:before { content: $li-var-check-circle !important; }
.#{$li-css-prefix}-question-circle:before { content: $li-var-question-circle !important; }
.#{$li-css-prefix}-info-circle:before { content: $li-var-info-circle !important; }
.#{$li-css-prefix}-crosshairs:before { content: $li-var-crosshairs !important; }
.#{$li-css-prefix}-times-circle-o:before { content: $li-var-times-circle-o !important; }
.#{$li-css-prefix}-check-circle-o:before { content: $li-var-check-circle-o !important; }
.#{$li-css-prefix}-ban:before { content: $li-var-ban !important; }
.#{$li-css-prefix}-arrow-left:before { content: $li-var-arrow-left !important; }
.#{$li-css-prefix}-arrow-right:before { content: $li-var-arrow-right !important; }
.#{$li-css-prefix}-arrow-up:before { content: $li-var-arrow-up !important; }
.#{$li-css-prefix}-arrow-down:before { content: $li-var-arrow-down !important; }
.#{$li-css-prefix}-mail-forward:before,
.#{$li-css-prefix}-share:before { content: $li-var-share !important; }
.#{$li-css-prefix}-expand:before { content: $li-var-expand !important; }
.#{$li-css-prefix}-compress:before { content: $li-var-compress !important; }
.#{$li-css-prefix}-plus:before { content: $li-var-plus !important; }
.#{$li-css-prefix}-minus:before { content: $li-var-minus !important; }
.#{$li-css-prefix}-asterisk:before { content: $li-var-asterisk !important; }
.#{$li-css-prefix}-exclamation-circle:before { content: $li-var-exclamation-circle !important; }
.#{$li-css-prefix}-gift:before { content: $li-var-gift !important; }
.#{$li-css-prefix}-leaf:before { content: $li-var-leaf !important; }
.#{$li-css-prefix}-fire:before { content: $li-var-fire !important; }
.#{$li-css-prefix}-eye:before { content: $li-var-eye !important; }
.#{$li-css-prefix}-eye-slash:before { content: $li-var-eye-slash !important; }
.#{$li-css-prefix}-warning:before,
.#{$li-css-prefix}-exclamation-triangle:before { content: $li-var-exclamation-triangle !important; }
.#{$li-css-prefix}-plane:before { content: $li-var-plane !important; }
.#{$li-css-prefix}-calendar:before { content: $li-var-calendar !important; }
.#{$li-css-prefix}-random:before { content: $li-var-random !important; }
.#{$li-css-prefix}-comment:before { content: $li-var-comment !important; }
.#{$li-css-prefix}-magnet:before { content: $li-var-magnet !important; }
.#{$li-css-prefix}-chevron-up:before { content: $li-var-chevron-up !important; }
.#{$li-css-prefix}-chevron-down:before { content: $li-var-chevron-down !important; }
.#{$li-css-prefix}-retweet:before { content: $li-var-retweet !important; }
.#{$li-css-prefix}-shopping-cart:before { content: $li-var-shopping-cart !important; }
.#{$li-css-prefix}-folder:before { content: $li-var-folder !important; }
.#{$li-css-prefix}-folder-open:before { content: $li-var-folder-open !important; }
.#{$li-css-prefix}-arrows-v:before { content: $li-var-arrows-v !important; }
.#{$li-css-prefix}-arrows-h:before { content: $li-var-arrows-h !important; }
.#{$li-css-prefix}-bar-chart-o:before,
.#{$li-css-prefix}-bar-chart:before { content: $li-var-bar-chart !important; }
.#{$li-css-prefix}-twitter-square:before { content: $li-var-twitter-square !important; }
.#{$li-css-prefix}-facebook-square:before { content: $li-var-facebook-square !important; }
.#{$li-css-prefix}-camera-retro:before { content: $li-var-camera-retro !important; }
.#{$li-css-prefix}-key:before { content: $li-var-key !important; }
.#{$li-css-prefix}-gears:before,
.#{$li-css-prefix}-cogs:before { content: $li-var-cogs !important; }
.#{$li-css-prefix}-comments:before { content: $li-var-comments !important; }
.#{$li-css-prefix}-thumbs-o-up:before { content: $li-var-thumbs-o-up !important; }
.#{$li-css-prefix}-thumbs-o-down:before { content: $li-var-thumbs-o-down !important; }
.#{$li-css-prefix}-star-half:before { content: $li-var-star-half !important; }
.#{$li-css-prefix}-heart-o:before { content: $li-var-heart-o !important; }
.#{$li-css-prefix}-sign-out:before { content: $li-var-sign-out !important; }
.#{$li-css-prefix}-linkedin-square:before { content: $li-var-linkedin-square !important; }
.#{$li-css-prefix}-thumb-tack:before { content: $li-var-thumb-tack !important; }
.#{$li-css-prefix}-external-link:before { content: $li-var-external-link !important; }
.#{$li-css-prefix}-sign-in:before { content: $li-var-sign-in !important; }
.#{$li-css-prefix}-trophy:before { content: $li-var-trophy !important; }
.#{$li-css-prefix}-github-square:before { content: $li-var-github-square !important; }
.#{$li-css-prefix}-upload:before { content: $li-var-upload !important; }
.#{$li-css-prefix}-lemon-o:before { content: $li-var-lemon-o !important; }
.#{$li-css-prefix}-phone:before { content: $li-var-phone !important; }
.#{$li-css-prefix}-square-o:before { content: $li-var-square-o !important; }
.#{$li-css-prefix}-bookmark-o:before { content: $li-var-bookmark-o !important; }
.#{$li-css-prefix}-phone-square:before { content: $li-var-phone-square !important; }
.#{$li-css-prefix}-twitter:before { content: $li-var-twitter !important; }
.#{$li-css-prefix}-facebook-f:before,
.#{$li-css-prefix}-facebook:before { content: $li-var-facebook !important; }
.#{$li-css-prefix}-github:before { content: $li-var-github !important; }
.#{$li-css-prefix}-unlock:before { content: $li-var-unlock !important; }
.#{$li-css-prefix}-credit-card:before { content: $li-var-credit-card !important; }
.#{$li-css-prefix}-feed:before,
.#{$li-css-prefix}-rss:before { content: $li-var-rss !important; }
.#{$li-css-prefix}-hdd-o:before { content: $li-var-hdd-o !important; }
.#{$li-css-prefix}-bullhorn:before { content: $li-var-bullhorn !important; }
.#{$li-css-prefix}-bell:before { content: $li-var-bell !important; }
.#{$li-css-prefix}-certificate:before { content: $li-var-certificate !important; }
.#{$li-css-prefix}-hand-o-right:before { content: $li-var-hand-o-right !important; }
.#{$li-css-prefix}-hand-o-left:before { content: $li-var-hand-o-left !important; }
.#{$li-css-prefix}-hand-o-up:before { content: $li-var-hand-o-up !important; }
.#{$li-css-prefix}-hand-o-down:before { content: $li-var-hand-o-down !important; }
.#{$li-css-prefix}-arrow-circle-left:before { content: $li-var-arrow-circle-left !important; }
.#{$li-css-prefix}-arrow-circle-right:before { content: $li-var-arrow-circle-right !important; }
.#{$li-css-prefix}-arrow-circle-up:before { content: $li-var-arrow-circle-up !important; }
.#{$li-css-prefix}-arrow-circle-down:before { content: $li-var-arrow-circle-down !important; }
.#{$li-css-prefix}-globe:before { content: $li-var-globe !important; }
.#{$li-css-prefix}-wrench:before { content: $li-var-wrench !important; }
.#{$li-css-prefix}-tasks:before { content: $li-var-tasks !important; }
.#{$li-css-prefix}-filter:before { content: $li-var-filter !important; }
.#{$li-css-prefix}-briefcase:before { content: $li-var-briefcase !important; }
.#{$li-css-prefix}-arrows-alt:before { content: $li-var-arrows-alt !important; }
.#{$li-css-prefix}-group:before,
.#{$li-css-prefix}-users:before { content: $li-var-users !important; }
.#{$li-css-prefix}-chain:before,
.#{$li-css-prefix}-link:before { content: $li-var-link !important; }
.#{$li-css-prefix}-cloud:before { content: $li-var-cloud !important; }
.#{$li-css-prefix}-flask:before { content: $li-var-flask !important; }
.#{$li-css-prefix}-cut:before,
.#{$li-css-prefix}-scissors:before { content: $li-var-scissors !important; }
.#{$li-css-prefix}-copy:before,
.#{$li-css-prefix}-files-o:before { content: $li-var-files-o !important; }
.#{$li-css-prefix}-paperclip:before { content: $li-var-paperclip !important; }
.#{$li-css-prefix}-save:before,
.#{$li-css-prefix}-floppy-o:before { content: $li-var-floppy-o !important; }
.#{$li-css-prefix}-square:before { content: $li-var-square !important; }
.#{$li-css-prefix}-navicon:before,
.#{$li-css-prefix}-reorder:before,
.#{$li-css-prefix}-bars:before { content: $li-var-bars !important; }
.#{$li-css-prefix}-list-ul:before { content: $li-var-list-ul !important; }
.#{$li-css-prefix}-list-ol:before { content: $li-var-list-ol !important; }
.#{$li-css-prefix}-strikethrough:before { content: $li-var-strikethrough !important; }
.#{$li-css-prefix}-underline:before { content: $li-var-underline !important; }
.#{$li-css-prefix}-table:before { content: $li-var-table !important; }
.#{$li-css-prefix}-magic:before { content: $li-var-magic !important; }
.#{$li-css-prefix}-truck:before { content: $li-var-truck !important; }
.#{$li-css-prefix}-pinterest:before { content: $li-var-pinterest !important; }
.#{$li-css-prefix}-pinterest-square:before { content: $li-var-pinterest-square !important; }
.#{$li-css-prefix}-google-plus-square:before { content: $li-var-google-plus-square !important; }
.#{$li-css-prefix}-google-plus:before { content: $li-var-google-plus !important; }
.#{$li-css-prefix}-money:before { content: $li-var-money !important; }
.#{$li-css-prefix}-caret-down:before { content: $li-var-caret-down !important; }
.#{$li-css-prefix}-caret-up:before { content: $li-var-caret-up !important; }
.#{$li-css-prefix}-caret-left:before { content: $li-var-caret-left !important; }
.#{$li-css-prefix}-caret-right:before { content: $li-var-caret-right !important; }
.#{$li-css-prefix}-columns:before { content: $li-var-columns !important; }
.#{$li-css-prefix}-unsorted:before,
.#{$li-css-prefix}-sort:before { content: $li-var-sort !important; }
.#{$li-css-prefix}-sort-down:before,
.#{$li-css-prefix}-sort-desc:before { content: $li-var-sort-desc !important; }
.#{$li-css-prefix}-sort-up:before,
.#{$li-css-prefix}-sort-asc:before { content: $li-var-sort-asc !important; }
.#{$li-css-prefix}-envelope:before { content: $li-var-envelope !important; }
.#{$li-css-prefix}-linkedin:before { content: $li-var-linkedin !important; }
.#{$li-css-prefix}-rotate-left:before,
.#{$li-css-prefix}-undo:before { content: $li-var-undo !important; }
.#{$li-css-prefix}-legal:before,
.#{$li-css-prefix}-gavel:before { content: $li-var-gavel !important; }
.#{$li-css-prefix}-dashboard:before,
.#{$li-css-prefix}-tachometer:before { content: $li-var-tachometer !important; }
.#{$li-css-prefix}-comment-o:before { content: $li-var-comment-o !important; }
.#{$li-css-prefix}-comments-o:before { content: $li-var-comments-o !important; }
.#{$li-css-prefix}-flash:before,
.#{$li-css-prefix}-bolt:before { content: $li-var-bolt !important; }
.#{$li-css-prefix}-sitemap:before { content: $li-var-sitemap !important; }
.#{$li-css-prefix}-umbrella:before { content: $li-var-umbrella !important; }
.#{$li-css-prefix}-paste:before,
.#{$li-css-prefix}-clipboard:before { content: $li-var-clipboard !important; }
.#{$li-css-prefix}-lightbulb-o:before { content: $li-var-lightbulb-o !important; }
.#{$li-css-prefix}-exchange:before { content: $li-var-exchange !important; }
.#{$li-css-prefix}-cloud-download:before { content: $li-var-cloud-download !important; }
.#{$li-css-prefix}-cloud-upload:before { content: $li-var-cloud-upload !important; }
.#{$li-css-prefix}-user-md:before { content: $li-var-user-md !important; }
.#{$li-css-prefix}-stethoscope:before { content: $li-var-stethoscope !important; }
.#{$li-css-prefix}-suitcase:before { content: $li-var-suitcase !important; }
.#{$li-css-prefix}-bell-o:before { content: $li-var-bell-o !important; }
.#{$li-css-prefix}-coffee:before { content: $li-var-coffee !important; }
.#{$li-css-prefix}-cutlery:before { content: $li-var-cutlery !important; }
.#{$li-css-prefix}-file-text-o:before { content: $li-var-file-text-o !important; }
.#{$li-css-prefix}-building-o:before { content: $li-var-building-o !important; }
.#{$li-css-prefix}-hospital-o:before { content: $li-var-hospital-o !important; }
.#{$li-css-prefix}-ambulance:before { content: $li-var-ambulance !important; }
.#{$li-css-prefix}-medkit:before { content: $li-var-medkit !important; }
.#{$li-css-prefix}-fighter-jet:before { content: $li-var-fighter-jet !important; }
.#{$li-css-prefix}-beer:before { content: $li-var-beer !important; }
.#{$li-css-prefix}-h-square:before { content: $li-var-h-square !important; }
.#{$li-css-prefix}-plus-square:before { content: $li-var-plus-square !important; }
.#{$li-css-prefix}-angle-double-left:before { content: $li-var-angle-double-left !important; }
.#{$li-css-prefix}-angle-double-right:before { content: $li-var-angle-double-right !important; }
.#{$li-css-prefix}-angle-double-up:before { content: $li-var-angle-double-up !important; }
.#{$li-css-prefix}-angle-double-down:before { content: $li-var-angle-double-down !important; }
.#{$li-css-prefix}-angle-left:before { content: $li-var-angle-left !important; }
.#{$li-css-prefix}-angle-right:before { content: $li-var-angle-right !important; }
.#{$li-css-prefix}-angle-up:before { content: $li-var-angle-up !important; }
.#{$li-css-prefix}-angle-down:before { content: $li-var-angle-down !important; }
.#{$li-css-prefix}-desktop:before { content: $li-var-desktop !important; }
.#{$li-css-prefix}-laptop:before { content: $li-var-laptop !important; }
.#{$li-css-prefix}-tablet:before { content: $li-var-tablet !important; }
.#{$li-css-prefix}-mobile-phone:before,
.#{$li-css-prefix}-mobile:before { content: $li-var-mobile !important; }
.#{$li-css-prefix}-circle-o:before { content: $li-var-circle-o !important; }
.#{$li-css-prefix}-quote-left:before { content: $li-var-quote-left !important; }
.#{$li-css-prefix}-quote-right:before { content: $li-var-quote-right !important; }
.#{$li-css-prefix}-spinner:before { content: $li-var-spinner !important; }
.#{$li-css-prefix}-circle:before { content: $li-var-circle !important; }
.#{$li-css-prefix}-mail-reply:before,
.#{$li-css-prefix}-reply:before { content: $li-var-reply !important; }
.#{$li-css-prefix}-github-alt:before { content: $li-var-github-alt !important; }
.#{$li-css-prefix}-folder-o:before { content: $li-var-folder-o !important; }
.#{$li-css-prefix}-folder-open-o:before { content: $li-var-folder-open-o !important; }
.#{$li-css-prefix}-smile-o:before { content: $li-var-smile-o !important; }
.#{$li-css-prefix}-frown-o:before { content: $li-var-frown-o !important; }
.#{$li-css-prefix}-meh-o:before { content: $li-var-meh-o !important; }
.#{$li-css-prefix}-gamepad:before { content: $li-var-gamepad !important; }
.#{$li-css-prefix}-keyboard-o:before { content: $li-var-keyboard-o !important; }
.#{$li-css-prefix}-flag-o:before { content: $li-var-flag-o !important; }
.#{$li-css-prefix}-flag-checkered:before { content: $li-var-flag-checkered !important; }
.#{$li-css-prefix}-terminal:before { content: $li-var-terminal !important; }
.#{$li-css-prefix}-code:before { content: $li-var-code !important; }
.#{$li-css-prefix}-mail-reply-all:before,
.#{$li-css-prefix}-reply-all:before { content: $li-var-reply-all !important; }
.#{$li-css-prefix}-star-half-empty:before,
.#{$li-css-prefix}-star-half-full:before,
.#{$li-css-prefix}-star-half-o:before { content: $li-var-star-half-o !important; }
.#{$li-css-prefix}-location-arrow:before { content: $li-var-location-arrow !important; }
.#{$li-css-prefix}-crop:before { content: $li-var-crop !important; }
.#{$li-css-prefix}-code-fork:before { content: $li-var-code-fork !important; }
.#{$li-css-prefix}-unlink:before,
.#{$li-css-prefix}-chain-broken:before { content: $li-var-chain-broken !important; }
.#{$li-css-prefix}-question:before { content: $li-var-question !important; }
.#{$li-css-prefix}-info:before { content: $li-var-info !important; }
.#{$li-css-prefix}-exclamation:before { content: $li-var-exclamation !important; }
.#{$li-css-prefix}-superscript:before { content: $li-var-superscript !important; }
.#{$li-css-prefix}-subscript:before { content: $li-var-subscript !important; }
.#{$li-css-prefix}-eraser:before { content: $li-var-eraser !important; }
.#{$li-css-prefix}-puzzle-piece:before { content: $li-var-puzzle-piece !important; }
.#{$li-css-prefix}-microphone:before { content: $li-var-microphone !important; }
.#{$li-css-prefix}-microphone-slash:before { content: $li-var-microphone-slash !important; }
.#{$li-css-prefix}-shield:before { content: $li-var-shield !important; }
.#{$li-css-prefix}-calendar-o:before { content: $li-var-calendar-o !important; }
.#{$li-css-prefix}-fire-extinguisher:before { content: $li-var-fire-extinguisher !important; }
.#{$li-css-prefix}-rocket:before { content: $li-var-rocket !important; }
.#{$li-css-prefix}-maxcdn:before { content: $li-var-maxcdn !important; }
.#{$li-css-prefix}-chevron-circle-left:before { content: $li-var-chevron-circle-left !important; }
.#{$li-css-prefix}-chevron-circle-right:before { content: $li-var-chevron-circle-right !important; }
.#{$li-css-prefix}-chevron-circle-up:before { content: $li-var-chevron-circle-up !important; }
.#{$li-css-prefix}-chevron-circle-down:before { content: $li-var-chevron-circle-down !important; }
.#{$li-css-prefix}-html5:before { content: $li-var-html5 !important; }
.#{$li-css-prefix}-css3:before { content: $li-var-css3 !important; }
.#{$li-css-prefix}-anchor:before { content: $li-var-anchor !important; }
.#{$li-css-prefix}-unlock-alt:before { content: $li-var-unlock-alt !important; }
.#{$li-css-prefix}-bullseye:before { content: $li-var-bullseye !important; }
.#{$li-css-prefix}-ellipsis-h:before { content: $li-var-ellipsis-h !important; }
.#{$li-css-prefix}-ellipsis-v:before { content: $li-var-ellipsis-v !important; }
.#{$li-css-prefix}-rss-square:before { content: $li-var-rss-square !important; }
.#{$li-css-prefix}-play-circle:before { content: $li-var-play-circle !important; }
.#{$li-css-prefix}-ticket:before { content: $li-var-ticket !important; }
.#{$li-css-prefix}-minus-square:before { content: $li-var-minus-square !important; }
.#{$li-css-prefix}-minus-square-o:before { content: $li-var-minus-square-o !important; }
.#{$li-css-prefix}-level-up:before { content: $li-var-level-up !important; }
.#{$li-css-prefix}-level-down:before { content: $li-var-level-down !important; }
.#{$li-css-prefix}-check-square:before { content: $li-var-check-square !important; }
.#{$li-css-prefix}-pencil-square:before { content: $li-var-pencil-square !important; }
.#{$li-css-prefix}-external-link-square:before { content: $li-var-external-link-square !important; }
.#{$li-css-prefix}-share-square:before { content: $li-var-share-square !important; }
.#{$li-css-prefix}-compass:before { content: $li-var-compass !important; }
.#{$li-css-prefix}-toggle-down:before,
.#{$li-css-prefix}-caret-square-o-down:before { content: $li-var-caret-square-o-down !important; }
.#{$li-css-prefix}-toggle-up:before,
.#{$li-css-prefix}-caret-square-o-up:before { content: $li-var-caret-square-o-up !important; }
.#{$li-css-prefix}-toggle-right:before,
.#{$li-css-prefix}-caret-square-o-right:before { content: $li-var-caret-square-o-right !important; }
.#{$li-css-prefix}-euro:before,
.#{$li-css-prefix}-eur:before { content: $li-var-eur !important; }
.#{$li-css-prefix}-gbp:before { content: $li-var-gbp !important; }
.#{$li-css-prefix}-dollar:before,
.#{$li-css-prefix}-usd:before { content: $li-var-usd !important; }
.#{$li-css-prefix}-rupee:before,
.#{$li-css-prefix}-inr:before { content: $li-var-inr !important; }
.#{$li-css-prefix}-cny:before,
.#{$li-css-prefix}-rmb:before,
.#{$li-css-prefix}-yen:before,
.#{$li-css-prefix}-jpy:before { content: $li-var-jpy !important; }
.#{$li-css-prefix}-ruble:before,
.#{$li-css-prefix}-rouble:before,
.#{$li-css-prefix}-rub:before { content: $li-var-rub !important; }
.#{$li-css-prefix}-won:before,
.#{$li-css-prefix}-krw:before { content: $li-var-krw !important; }
.#{$li-css-prefix}-bitcoin:before,
.#{$li-css-prefix}-btc:before { content: $li-var-btc !important; }
.#{$li-css-prefix}-file:before { content: $li-var-file !important; }
.#{$li-css-prefix}-file-text:before { content: $li-var-file-text !important; }
.#{$li-css-prefix}-sort-alpha-asc:before { content: $li-var-sort-alpha-asc !important; }
.#{$li-css-prefix}-sort-alpha-desc:before { content: $li-var-sort-alpha-desc !important; }
.#{$li-css-prefix}-sort-amount-asc:before { content: $li-var-sort-amount-asc !important; }
.#{$li-css-prefix}-sort-amount-desc:before { content: $li-var-sort-amount-desc !important; }
.#{$li-css-prefix}-sort-numeric-asc:before { content: $li-var-sort-numeric-asc !important; }
.#{$li-css-prefix}-sort-numeric-desc:before { content: $li-var-sort-numeric-desc !important; }
.#{$li-css-prefix}-thumbs-up:before { content: $li-var-thumbs-up !important; }
.#{$li-css-prefix}-thumbs-down:before { content: $li-var-thumbs-down !important; }
.#{$li-css-prefix}-youtube-square:before { content: $li-var-youtube-square !important; }
.#{$li-css-prefix}-youtube:before { content: $li-var-youtube !important; }
.#{$li-css-prefix}-xing:before { content: $li-var-xing !important; }
.#{$li-css-prefix}-xing-square:before { content: $li-var-xing-square !important; }
.#{$li-css-prefix}-youtube-play:before { content: $li-var-youtube-play !important; }
.#{$li-css-prefix}-dropbox:before { content: $li-var-dropbox !important; }
.#{$li-css-prefix}-stack-overflow:before { content: $li-var-stack-overflow !important; }
.#{$li-css-prefix}-instagram:before { content: $li-var-instagram !important; }
.#{$li-css-prefix}-flickr:before { content: $li-var-flickr !important; }
.#{$li-css-prefix}-adn:before { content: $li-var-adn !important; }
.#{$li-css-prefix}-bitbucket:before { content: $li-var-bitbucket !important; }
.#{$li-css-prefix}-bitbucket-square:before { content: $li-var-bitbucket-square !important; }
.#{$li-css-prefix}-tumblr:before { content: $li-var-tumblr !important; }
.#{$li-css-prefix}-tumblr-square:before { content: $li-var-tumblr-square !important; }
.#{$li-css-prefix}-long-arrow-down:before { content: $li-var-long-arrow-down !important; }
.#{$li-css-prefix}-long-arrow-up:before { content: $li-var-long-arrow-up !important; }
.#{$li-css-prefix}-long-arrow-left:before { content: $li-var-long-arrow-left !important; }
.#{$li-css-prefix}-long-arrow-right:before { content: $li-var-long-arrow-right !important; }
.#{$li-css-prefix}-apple:before { content: $li-var-apple !important; }
.#{$li-css-prefix}-windows:before { content: $li-var-windows !important; }
.#{$li-css-prefix}-android:before { content: $li-var-android !important; }
.#{$li-css-prefix}-linux:before { content: $li-var-linux !important; }
.#{$li-css-prefix}-dribbble:before { content: $li-var-dribbble !important; }
.#{$li-css-prefix}-skype:before { content: $li-var-skype !important; }
.#{$li-css-prefix}-foursquare:before { content: $li-var-foursquare !important; }
.#{$li-css-prefix}-trello:before { content: $li-var-trello !important; }
.#{$li-css-prefix}-female:before { content: $li-var-female !important; }
.#{$li-css-prefix}-male:before { content: $li-var-male !important; }
.#{$li-css-prefix}-gittip:before,
.#{$li-css-prefix}-gratipay:before { content: $li-var-gratipay !important; }
.#{$li-css-prefix}-sun-o:before { content: $li-var-sun-o !important; }
.#{$li-css-prefix}-moon-o:before { content: $li-var-moon-o !important; }
.#{$li-css-prefix}-archive:before { content: $li-var-archive !important; }
.#{$li-css-prefix}-bug:before { content: $li-var-bug !important; }
.#{$li-css-prefix}-vk:before { content: $li-var-vk !important; }
.#{$li-css-prefix}-weibo:before { content: $li-var-weibo !important; }
.#{$li-css-prefix}-renren:before { content: $li-var-renren !important; }
.#{$li-css-prefix}-pagelines:before { content: $li-var-pagelines !important; }
.#{$li-css-prefix}-stack-exchange:before { content: $li-var-stack-exchange !important; }
.#{$li-css-prefix}-arrow-circle-o-right:before { content: $li-var-arrow-circle-o-right !important; }
.#{$li-css-prefix}-arrow-circle-o-left:before { content: $li-var-arrow-circle-o-left !important; }
.#{$li-css-prefix}-toggle-left:before,
.#{$li-css-prefix}-caret-square-o-left:before { content: $li-var-caret-square-o-left !important; }
.#{$li-css-prefix}-dot-circle-o:before { content: $li-var-dot-circle-o !important; }
.#{$li-css-prefix}-wheelchair:before { content: $li-var-wheelchair !important; }
.#{$li-css-prefix}-vimeo-square:before { content: $li-var-vimeo-square !important; }
.#{$li-css-prefix}-turkish-lira:before,
.#{$li-css-prefix}-try:before { content: $li-var-try !important; }
.#{$li-css-prefix}-plus-square-o:before { content: $li-var-plus-square-o !important; }
.#{$li-css-prefix}-space-shuttle:before { content: $li-var-space-shuttle !important; }
.#{$li-css-prefix}-slack:before { content: $li-var-slack !important; }
.#{$li-css-prefix}-envelope-square:before { content: $li-var-envelope-square !important; }
.#{$li-css-prefix}-wordpress:before { content: $li-var-wordpress !important; }
.#{$li-css-prefix}-openid:before { content: $li-var-openid !important; }
.#{$li-css-prefix}-institution:before,
.#{$li-css-prefix}-bank:before,
.#{$li-css-prefix}-university:before { content: $li-var-university !important; }
.#{$li-css-prefix}-mortar-board:before,
.#{$li-css-prefix}-graduation-cap:before { content: $li-var-graduation-cap !important; }
.#{$li-css-prefix}-yahoo:before { content: $li-var-yahoo !important; }
.#{$li-css-prefix}-google:before { content: $li-var-google !important; }
.#{$li-css-prefix}-reddit:before { content: $li-var-reddit !important; }
.#{$li-css-prefix}-reddit-square:before { content: $li-var-reddit-square !important; }
.#{$li-css-prefix}-stumbleupon-circle:before { content: $li-var-stumbleupon-circle !important; }
.#{$li-css-prefix}-stumbleupon:before { content: $li-var-stumbleupon !important; }
.#{$li-css-prefix}-delicious:before { content: $li-var-delicious !important; }
.#{$li-css-prefix}-digg:before { content: $li-var-digg !important; }
.#{$li-css-prefix}-pied-piper:before { content: $li-var-pied-piper !important; }
.#{$li-css-prefix}-pied-piper-alt:before { content: $li-var-pied-piper-alt !important; }
.#{$li-css-prefix}-drupal:before { content: $li-var-drupal !important; }
.#{$li-css-prefix}-joomla:before { content: $li-var-joomla !important; }
.#{$li-css-prefix}-language:before { content: $li-var-language !important; }
.#{$li-css-prefix}-fax:before { content: $li-var-fax !important; }
.#{$li-css-prefix}-building:before { content: $li-var-building !important; }
.#{$li-css-prefix}-child:before { content: $li-var-child !important; }
.#{$li-css-prefix}-paw:before { content: $li-var-paw !important; }
.#{$li-css-prefix}-spoon:before { content: $li-var-spoon !important; }
.#{$li-css-prefix}-cube:before { content: $li-var-cube !important; }
.#{$li-css-prefix}-cubes:before { content: $li-var-cubes !important; }
.#{$li-css-prefix}-behance:before { content: $li-var-behance !important; }
.#{$li-css-prefix}-behance-square:before { content: $li-var-behance-square !important; }
.#{$li-css-prefix}-steam:before { content: $li-var-steam !important; }
.#{$li-css-prefix}-steam-square:before { content: $li-var-steam-square !important; }
.#{$li-css-prefix}-recycle:before { content: $li-var-recycle !important; }
.#{$li-css-prefix}-automobile:before,
.#{$li-css-prefix}-car:before { content: $li-var-car !important; }
.#{$li-css-prefix}-cab:before,
.#{$li-css-prefix}-taxi:before { content: $li-var-taxi !important; }
.#{$li-css-prefix}-tree:before { content: $li-var-tree !important; }
.#{$li-css-prefix}-spotify:before { content: $li-var-spotify !important; }
.#{$li-css-prefix}-deviantart:before { content: $li-var-deviantart !important; }
.#{$li-css-prefix}-soundcloud:before { content: $li-var-soundcloud !important; }
.#{$li-css-prefix}-database:before { content: $li-var-database !important; }
.#{$li-css-prefix}-file-pdf-o:before { content: $li-var-file-pdf-o !important; }
.#{$li-css-prefix}-file-word-o:before { content: $li-var-file-word-o !important; }
.#{$li-css-prefix}-file-excel-o:before { content: $li-var-file-excel-o !important; }
.#{$li-css-prefix}-file-powerpoint-o:before { content: $li-var-file-powerpoint-o !important; }
.#{$li-css-prefix}-file-photo-o:before,
.#{$li-css-prefix}-file-picture-o:before,
.#{$li-css-prefix}-file-image-o:before { content: $li-var-file-image-o !important; }
.#{$li-css-prefix}-file-zip-o:before,
.#{$li-css-prefix}-file-archive-o:before { content: $li-var-file-archive-o !important; }
.#{$li-css-prefix}-file-sound-o:before,
.#{$li-css-prefix}-file-audio-o:before { content: $li-var-file-audio-o !important; }
.#{$li-css-prefix}-file-movie-o:before,
.#{$li-css-prefix}-file-video-o:before { content: $li-var-file-video-o !important; }
.#{$li-css-prefix}-file-code-o:before { content: $li-var-file-code-o !important; }
.#{$li-css-prefix}-vine:before { content: $li-var-vine !important; }
.#{$li-css-prefix}-codepen:before { content: $li-var-codepen !important; }
.#{$li-css-prefix}-jsfiddle:before { content: $li-var-jsfiddle !important; }
.#{$li-css-prefix}-life-bouy:before,
.#{$li-css-prefix}-life-buoy:before,
.#{$li-css-prefix}-life-saver:before,
.#{$li-css-prefix}-support:before,
.#{$li-css-prefix}-life-ring:before { content: $li-var-life-ring !important; }
.#{$li-css-prefix}-circle-o-notch:before { content: $li-var-circle-o-notch !important; }
.#{$li-css-prefix}-ra:before,
.#{$li-css-prefix}-rebel:before { content: $li-var-rebel !important; }
.#{$li-css-prefix}-ge:before,
.#{$li-css-prefix}-empire:before { content: $li-var-empire !important; }
.#{$li-css-prefix}-git-square:before { content: $li-var-git-square !important; }
.#{$li-css-prefix}-git:before { content: $li-var-git !important; }
.#{$li-css-prefix}-y-combinator-square:before,
.#{$li-css-prefix}-yc-square:before,
.#{$li-css-prefix}-hacker-news:before { content: $li-var-hacker-news !important; }
.#{$li-css-prefix}-tencent-weibo:before { content: $li-var-tencent-weibo !important; }
.#{$li-css-prefix}-qq:before { content: $li-var-qq !important; }
.#{$li-css-prefix}-wechat:before,
.#{$li-css-prefix}-weixin:before { content: $li-var-weixin !important; }
.#{$li-css-prefix}-send:before,
.#{$li-css-prefix}-paper-plane:before { content: $li-var-paper-plane !important; }
.#{$li-css-prefix}-send-o:before,
.#{$li-css-prefix}-paper-plane-o:before { content: $li-var-paper-plane-o !important; }
.#{$li-css-prefix}-history:before { content: $li-var-history !important; }
.#{$li-css-prefix}-circle-thin:before { content: $li-var-circle-thin !important; }
.#{$li-css-prefix}-header:before { content: $li-var-header !important; }
.#{$li-css-prefix}-paragraph:before { content: $li-var-paragraph !important; }
.#{$li-css-prefix}-sliders:before { content: $li-var-sliders !important; }
.#{$li-css-prefix}-share-alt:before { content: $li-var-share-alt !important; }
.#{$li-css-prefix}-share-alt-square:before { content: $li-var-share-alt-square !important; }
.#{$li-css-prefix}-bomb:before { content: $li-var-bomb !important; }
.#{$li-css-prefix}-soccer-ball-o:before,
.#{$li-css-prefix}-futbol-o:before { content: $li-var-futbol-o !important; }
.#{$li-css-prefix}-tty:before { content: $li-var-tty !important; }
.#{$li-css-prefix}-binoculars:before { content: $li-var-binoculars !important; }
.#{$li-css-prefix}-plug:before { content: $li-var-plug !important; }
.#{$li-css-prefix}-slideshare:before { content: $li-var-slideshare !important; }
.#{$li-css-prefix}-twitch:before { content: $li-var-twitch !important; }
.#{$li-css-prefix}-yelp:before { content: $li-var-yelp !important; }
.#{$li-css-prefix}-newspaper-o:before { content: $li-var-newspaper-o !important; }
.#{$li-css-prefix}-wifi:before { content: $li-var-wifi !important; }
.#{$li-css-prefix}-calculator:before { content: $li-var-calculator !important; }
.#{$li-css-prefix}-paypal:before { content: $li-var-paypal !important; }
.#{$li-css-prefix}-google-wallet:before { content: $li-var-google-wallet !important; }
.#{$li-css-prefix}-cc-visa:before { content: $li-var-cc-visa !important; }
.#{$li-css-prefix}-cc-mastercard:before { content: $li-var-cc-mastercard !important; }
.#{$li-css-prefix}-cc-discover:before { content: $li-var-cc-discover !important; }
.#{$li-css-prefix}-cc-amex:before { content: $li-var-cc-amex !important; }
.#{$li-css-prefix}-cc-paypal:before { content: $li-var-cc-paypal !important; }
.#{$li-css-prefix}-cc-stripe:before { content: $li-var-cc-stripe !important; }
.#{$li-css-prefix}-bell-slash:before { content: $li-var-bell-slash !important; }
.#{$li-css-prefix}-bell-slash-o:before { content: $li-var-bell-slash-o !important; }
.#{$li-css-prefix}-trash:before { content: $li-var-trash !important; }
.#{$li-css-prefix}-copyright:before { content: $li-var-copyright !important; }
.#{$li-css-prefix}-at:before { content: $li-var-at !important; }
.#{$li-css-prefix}-eyedropper:before { content: $li-var-eyedropper !important; }
.#{$li-css-prefix}-paint-brush:before { content: $li-var-paint-brush !important; }
.#{$li-css-prefix}-birthday-cake:before { content: $li-var-birthday-cake !important; }
.#{$li-css-prefix}-area-chart:before { content: $li-var-area-chart !important; }
.#{$li-css-prefix}-pie-chart:before { content: $li-var-pie-chart !important; }
.#{$li-css-prefix}-line-chart:before { content: $li-var-line-chart !important; }
.#{$li-css-prefix}-lastfm:before { content: $li-var-lastfm !important; }
.#{$li-css-prefix}-lastfm-square:before { content: $li-var-lastfm-square !important; }
.#{$li-css-prefix}-toggle-off:before { content: $li-var-toggle-off !important; }
.#{$li-css-prefix}-toggle-on:before { content: $li-var-toggle-on !important; }
.#{$li-css-prefix}-bicycle:before { content: $li-var-bicycle !important; }
.#{$li-css-prefix}-bus:before { content: $li-var-bus !important; }
.#{$li-css-prefix}-ioxhost:before { content: $li-var-ioxhost !important; }
.#{$li-css-prefix}-angellist:before { content: $li-var-angellist !important; }
.#{$li-css-prefix}-cc:before { content: $li-var-cc !important; }
.#{$li-css-prefix}-shekel:before,
.#{$li-css-prefix}-sheqel:before,
.#{$li-css-prefix}-ils:before { content: $li-var-ils !important; }
.#{$li-css-prefix}-meanpath:before { content: $li-var-meanpath !important; }
.#{$li-css-prefix}-buysellads:before { content: $li-var-buysellads !important; }
.#{$li-css-prefix}-connectdevelop:before { content: $li-var-connectdevelop !important; }
.#{$li-css-prefix}-dashcube:before { content: $li-var-dashcube !important; }
.#{$li-css-prefix}-forumbee:before { content: $li-var-forumbee !important; }
.#{$li-css-prefix}-leanpub:before { content: $li-var-leanpub !important; }
.#{$li-css-prefix}-sellsy:before { content: $li-var-sellsy !important; }
.#{$li-css-prefix}-shirtsinbulk:before { content: $li-var-shirtsinbulk !important; }
.#{$li-css-prefix}-simplybuilt:before { content: $li-var-simplybuilt !important; }
.#{$li-css-prefix}-skyatlas:before { content: $li-var-skyatlas !important; }
.#{$li-css-prefix}-cart-plus:before { content: $li-var-cart-plus !important; }
.#{$li-css-prefix}-cart-arrow-down:before { content: $li-var-cart-arrow-down !important; }
.#{$li-css-prefix}-diamond:before { content: $li-var-diamond !important; }
.#{$li-css-prefix}-ship:before { content: $li-var-ship !important; }
.#{$li-css-prefix}-user-secret:before { content: $li-var-user-secret !important; }
.#{$li-css-prefix}-motorcycle:before { content: $li-var-motorcycle !important; }
.#{$li-css-prefix}-street-view:before { content: $li-var-street-view !important; }
.#{$li-css-prefix}-heartbeat:before { content: $li-var-heartbeat !important; }
.#{$li-css-prefix}-venus:before { content: $li-var-venus !important; }
.#{$li-css-prefix}-mars:before { content: $li-var-mars !important; }
.#{$li-css-prefix}-mercury:before { content: $li-var-mercury !important; }
.#{$li-css-prefix}-intersex:before,
.#{$li-css-prefix}-transgender:before { content: $li-var-transgender !important; }
.#{$li-css-prefix}-transgender-alt:before { content: $li-var-transgender-alt !important; }
.#{$li-css-prefix}-venus-double:before { content: $li-var-venus-double !important; }
.#{$li-css-prefix}-mars-double:before { content: $li-var-mars-double !important; }
.#{$li-css-prefix}-venus-mars:before { content: $li-var-venus-mars !important; }
.#{$li-css-prefix}-mars-stroke:before { content: $li-var-mars-stroke !important; }
.#{$li-css-prefix}-mars-stroke-v:before { content: $li-var-mars-stroke-v !important; }
.#{$li-css-prefix}-mars-stroke-h:before { content: $li-var-mars-stroke-h !important; }
.#{$li-css-prefix}-neuter:before { content: $li-var-neuter !important; }
.#{$li-css-prefix}-genderless:before { content: $li-var-genderless !important; }
.#{$li-css-prefix}-facebook-official:before { content: $li-var-facebook-official !important; }
.#{$li-css-prefix}-pinterest-p:before { content: $li-var-pinterest-p !important; }
.#{$li-css-prefix}-whatsapp:before { content: $li-var-whatsapp !important; }
.#{$li-css-prefix}-server:before { content: $li-var-server !important; }
.#{$li-css-prefix}-user-plus:before { content: $li-var-user-plus !important; }
.#{$li-css-prefix}-user-times:before { content: $li-var-user-times !important; }
.#{$li-css-prefix}-hotel:before,
.#{$li-css-prefix}-bed:before { content: $li-var-bed !important; }
.#{$li-css-prefix}-viacoin:before { content: $li-var-viacoin !important; }
.#{$li-css-prefix}-train:before { content: $li-var-train !important; }
.#{$li-css-prefix}-subway:before { content: $li-var-subway !important; }
.#{$li-css-prefix}-medium:before { content: $li-var-medium !important; }
.#{$li-css-prefix}-yc:before,
.#{$li-css-prefix}-y-combinator:before { content: $li-var-y-combinator !important; }
.#{$li-css-prefix}-optin-monster:before { content: $li-var-optin-monster !important; }
.#{$li-css-prefix}-opencart:before { content: $li-var-opencart !important; }
.#{$li-css-prefix}-expeditedssl:before { content: $li-var-expeditedssl !important; }
.#{$li-css-prefix}-battery-4:before,
.#{$li-css-prefix}-battery-full:before { content: $li-var-battery-full !important; }
.#{$li-css-prefix}-battery-3:before,
.#{$li-css-prefix}-battery-three-quarters:before { content: $li-var-battery-three-quarters !important; }
.#{$li-css-prefix}-battery-2:before,
.#{$li-css-prefix}-battery-half:before { content: $li-var-battery-half !important; }
.#{$li-css-prefix}-battery-1:before,
.#{$li-css-prefix}-battery-quarter:before { content: $li-var-battery-quarter !important; }
.#{$li-css-prefix}-battery-0:before,
.#{$li-css-prefix}-battery-empty:before { content: $li-var-battery-empty !important; }
.#{$li-css-prefix}-mouse-pointer:before { content: $li-var-mouse-pointer !important; }
.#{$li-css-prefix}-i-cursor:before { content: $li-var-i-cursor !important; }
.#{$li-css-prefix}-object-group:before { content: $li-var-object-group !important; }
.#{$li-css-prefix}-object-ungroup:before { content: $li-var-object-ungroup !important; }
.#{$li-css-prefix}-sticky-note:before { content: $li-var-sticky-note !important; }
.#{$li-css-prefix}-sticky-note-o:before { content: $li-var-sticky-note-o !important; }
.#{$li-css-prefix}-cc-jcb:before { content: $li-var-cc-jcb !important; }
.#{$li-css-prefix}-cc-diners-club:before { content: $li-var-cc-diners-club !important; }
.#{$li-css-prefix}-clone:before { content: $li-var-clone !important; }
.#{$li-css-prefix}-balance-scale:before { content: $li-var-balance-scale !important; }
.#{$li-css-prefix}-hourglass-o:before { content: $li-var-hourglass-o !important; }
.#{$li-css-prefix}-hourglass-1:before,
.#{$li-css-prefix}-hourglass-start:before { content: $li-var-hourglass-start !important; }
.#{$li-css-prefix}-hourglass-2:before,
.#{$li-css-prefix}-hourglass-half:before { content: $li-var-hourglass-half !important; }
.#{$li-css-prefix}-hourglass-3:before,
.#{$li-css-prefix}-hourglass-end:before { content: $li-var-hourglass-end !important; }
.#{$li-css-prefix}-hourglass:before { content: $li-var-hourglass !important; }
.#{$li-css-prefix}-hand-grab-o:before,
.#{$li-css-prefix}-hand-rock-o:before { content: $li-var-hand-rock-o !important; }
.#{$li-css-prefix}-hand-stop-o:before,
.#{$li-css-prefix}-hand-paper-o:before { content: $li-var-hand-paper-o !important; }
.#{$li-css-prefix}-hand-scissors-o:before { content: $li-var-hand-scissors-o !important; }
.#{$li-css-prefix}-hand-lizard-o:before { content: $li-var-hand-lizard-o !important; }
.#{$li-css-prefix}-hand-spock-o:before { content: $li-var-hand-spock-o !important; }
.#{$li-css-prefix}-hand-pointer-o:before { content: $li-var-hand-pointer-o !important; }
.#{$li-css-prefix}-hand-peace-o:before { content: $li-var-hand-peace-o !important; }
.#{$li-css-prefix}-trademark:before { content: $li-var-trademark !important; }
.#{$li-css-prefix}-registered:before { content: $li-var-registered !important; }
.#{$li-css-prefix}-creative-commons:before { content: $li-var-creative-commons !important; }
.#{$li-css-prefix}-gg:before { content: $li-var-gg !important; }
.#{$li-css-prefix}-gg-circle:before { content: $li-var-gg-circle !important; }
.#{$li-css-prefix}-tripadvisor:before { content: $li-var-tripadvisor !important; }
.#{$li-css-prefix}-odnoklassniki:before { content: $li-var-odnoklassniki !important; }
.#{$li-css-prefix}-odnoklassniki-square:before { content: $li-var-odnoklassniki-square !important; }
.#{$li-css-prefix}-get-pocket:before { content: $li-var-get-pocket !important; }
.#{$li-css-prefix}-wikipedia-w:before { content: $li-var-wikipedia-w !important; }
.#{$li-css-prefix}-safari:before { content: $li-var-safari !important; }
.#{$li-css-prefix}-chrome:before { content: $li-var-chrome !important; }
.#{$li-css-prefix}-firefox:before { content: $li-var-firefox !important; }
.#{$li-css-prefix}-opera:before { content: $li-var-opera !important; }
.#{$li-css-prefix}-internet-explorer:before { content: $li-var-internet-explorer !important; }
.#{$li-css-prefix}-tv:before,
.#{$li-css-prefix}-television:before { content: $li-var-television !important; }
.#{$li-css-prefix}-contao:before { content: $li-var-contao !important; }
.#{$li-css-prefix}-500px:before { content: $li-var-500px !important; }
.#{$li-css-prefix}-amazon:before { content: $li-var-amazon !important; }
.#{$li-css-prefix}-calendar-plus-o:before { content: $li-var-calendar-plus-o !important; }
.#{$li-css-prefix}-calendar-minus-o:before { content: $li-var-calendar-minus-o !important; }
.#{$li-css-prefix}-calendar-times-o:before { content: $li-var-calendar-times-o !important; }
.#{$li-css-prefix}-calendar-check-o:before { content: $li-var-calendar-check-o !important; }
.#{$li-css-prefix}-industry:before { content: $li-var-industry !important; }
.#{$li-css-prefix}-map-pin:before { content: $li-var-map-pin !important; }
.#{$li-css-prefix}-map-signs:before { content: $li-var-map-signs !important; }
.#{$li-css-prefix}-map-o:before { content: $li-var-map-o !important; }
.#{$li-css-prefix}-map:before { content: $li-var-map !important; }
.#{$li-css-prefix}-commenting:before { content: $li-var-commenting !important; }
.#{$li-css-prefix}-commenting-o:before { content: $li-var-commenting-o !important; }
.#{$li-css-prefix}-houzz:before { content: $li-var-houzz !important; }
.#{$li-css-prefix}-vimeo:before { content: $li-var-vimeo !important; }
.#{$li-css-prefix}-black-tie:before { content: $li-var-black-tie !important; }
.#{$li-css-prefix}-fonticons:before { content: $li-var-fonticons !important; }
*/