/* Linear icons uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.#{$li-css-prefix}-home:before { content: $li-var-home !important; }

.#{$li-css-prefix}-home2:before { content: "\e601" !important; }
.#{$li-css-prefix}-home3:before { content: "\e602" !important; }
.#{$li-css-prefix}-home4:before { content: "\e603" !important; }
.#{$li-css-prefix}-home5:before { content: "\e604" !important; }
.#{$li-css-prefix}-home6:before { content: "\e605" !important; }

/*
TODO
here goes the rest of declarations
*/