/* Linearicons use the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

/*
the actual css classes
*/


.#{$licons-css-prefix}-home:before { content: $licons-var-home !important; }
.#{$licons-css-prefix}-home2:before { content: $licons-var-home2 !important; }
.#{$licons-css-prefix}-home3:before { content: $licons-var-home3 !important; }
.#{$licons-css-prefix}-home4:before { content: $licons-var-home4 !important; }
.#{$licons-css-prefix}-home5:before { content: $licons-var-home5 !important; }
.#{$licons-css-prefix}-home6:before { content: $licons-var-home6 !important; }