// List Icons
// -------------------------

.#{$li-css-prefix}-ul {
  padding-left: 0;
  margin-left: $li-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$li-css-prefix}-li {
  position: absolute;
  left: -$li-li-width;
  width: $li-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$li-css-prefix}-lg {
    left: -$li-li-width + (4em / 14);
  }
}
