// List Icons
// -------------------------

.#{$licons-css-prefix}-ul {
  padding-left: 0;
  margin-left: $licons-font-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$licons-css-prefix}-li {
  position: absolute;
  left: -$licons-font-li-width;
  width: $licons-font-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$licons-css-prefix}-lg {
    left: -$licons-font-li-width + (4em / 14);
  }
}
