/* FONT PATH
 * -------------------------- */

//# fashion -inline
@font-face {
  font-family: #{$licons-font-family};
  //src: url('#{$licons-font-path}/Linearicons.eot?v=#{$licons-font-version}');
  //# fashion +inline:eot
  //# fashion +inline:ttf
  src: //url('#{$licons-font-path}/Linearicons.eot?#iefix&v=#{$licons-font-version}') format('embedded-opentype'),
    //url('#{$licons-font-path}/Linearicons.woff2?v=#{$licons-font-version}') format('woff2'),
    url('#{$licons-font-path}/Linearicons.woff?v=#{$licons-font-version}') format('woff'),
    url('#{$licons-font-path}/Linearicons.ttf?v=#{$licons-font-version}') format('truetype'),
    url('#{$licons-font-path}/Linearicons.svg?v=#{$licons-font-version}#Lineariconsregular') format('svg');
//  src: url('#{$licons-font-path}/Linearicons.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
