//# fashion warn -elevation

// Variables
// --------------------------
$licons-font-family: 'Linearicons';
$licons-font-css-prefix: 'li';
$licons-font-path:        "../fonts" !default;
$licons-font-size-base:   14px !default;
$licons-line-height-base: 1 !default;
//$licons-font-path:        "//some.font.url/fonts" !default; // for referencing Bootstrap CDN font files directly
$licons-css-prefix:       $licons-font-css-prefix !default;
$licons-font-version:          "1.0.0" !default;
$licons-border-color:     #eee !default;
$licons-font-inverse:          #fff !default;
$licons-font-li-width:         (30em / 14) !default;


/*
here go vars with font codes;
note: if u use icomoon.com generated fonts then you will find then in style css.
basically they can be used in the _icons.scss instead of providing font codes directly
this way you can declare aliases using same font code var
*/
$licons-var-home: "\e600";
$licons-var-home2: "\e601";
$licons-var-home3: "\e602";
$licons-var-home4: "\e603";
$licons-var-home5: "\e604";
$licons-var-home6: "\e605";
$licons-var-bathtub: "\e606";
$licons-var-toothbrush: "\e607";
$licons-var-bed: "\e608";
$licons-var-couch: "\e609";
$licons-var-chair: "\e60a";
$licons-var-city: "\e60b";
$licons-var-apartment: "\e60c";
$licons-var-pencil: "\e60d";
$licons-var-pencil2: "\e60e";
$licons-var-pen: "\e60f";
$licons-var-pencil3: "\e610";
$licons-var-eraser: "\e611";
$licons-var-pencil4: "\e612";
$licons-var-pencil5: "\e613";
$licons-var-feather: "\e614";
$licons-var-feather2: "\e615";
$licons-var-feather3: "\e616";
$licons-var-pen2: "\e617";
$licons-var-pen-add: "\e618";
$licons-var-pen-remove: "\e619";
$licons-var-vector: "\e61a";
$licons-var-pen3: "\e61b";
$licons-var-blog: "\e61c";
$licons-var-brush: "\e61d";
$licons-var-brush2: "\e61e";
$licons-var-spray: "\e61f";
$licons-var-paint-roller: "\e620";
$licons-var-stamp: "\e621";
$licons-var-tape: "\e622";
$licons-var-desk-tape: "\e623";
$licons-var-texture: "\e624";
$licons-var-eye-dropper: "\e625";
$licons-var-palette: "\e626";
$licons-var-color-sampler: "\e627";
$licons-var-bucket: "\e628";
$licons-var-gradient: "\e629";
$licons-var-gradient2: "\e62a";
$licons-var-magic-wand: "\e62b";
$licons-var-magnet: "\e62c";
$licons-var-pencil-ruler: "\e62d";
$licons-var-pencil-ruler2: "\e62e";
$licons-var-compass: "\e62f";
$licons-var-aim: "\e630";
$licons-var-gun: "\e631";
$licons-var-bottle: "\e632";
$licons-var-drop: "\e633";
$licons-var-drop-crossed: "\e634";
$licons-var-drop2: "\e635";
$licons-var-snow: "\e636";
$licons-var-snow2: "\e637";
$licons-var-fire: "\e638";
$licons-var-lighter: "\e639";
$licons-var-knife: "\e63a";
$licons-var-dagger: "\e63b";
$licons-var-tissue: "\e63c";
$licons-var-toilet-paper: "\e63d";
$licons-var-poop: "\e63e";
$licons-var-umbrella: "\e63f";
$licons-var-umbrella2: "\e640";
$licons-var-rain: "\e641";
$licons-var-tornado: "\e642";
$licons-var-wind: "\e643";
$licons-var-fan: "\e644";
$licons-var-contrast: "\e645";
$licons-var-sun-small: "\e646";
$licons-var-sun: "\e647";
$licons-var-sun2: "\e648";
$licons-var-moon: "\e649";
$licons-var-cloud: "\e64a";
$licons-var-cloud-upload: "\e64b";
$licons-var-cloud-download: "\e64c";
$licons-var-cloud-rain: "\e64d";
$licons-var-cloud-hailstones: "\e64e";
$licons-var-cloud-snow: "\e64f";
$licons-var-cloud-windy: "\e650";
$licons-var-sun-wind: "\e651";
$licons-var-cloud-fog: "\e652";
$licons-var-cloud-sun: "\e653";
$licons-var-cloud-lightning: "\e654";
$licons-var-cloud-sync: "\e655";
$licons-var-cloud-lock: "\e656";
$licons-var-cloud-gear: "\e657";
$licons-var-cloud-alert: "\e658";
$licons-var-cloud-check: "\e659";
$licons-var-cloud-cross: "\e65a";
$licons-var-cloud-crossed: "\e65b";
$licons-var-cloud-database: "\e65c";
$licons-var-database: "\e65d";
$licons-var-database-add: "\e65e";
$licons-var-database-remove: "\e65f";
$licons-var-database-lock: "\e660";
$licons-var-database-refresh: "\e661";
$licons-var-database-check: "\e662";
$licons-var-database-history: "\e663";
$licons-var-database-upload: "\e664";
$licons-var-database-download: "\e665";
$licons-var-server: "\e666";
$licons-var-shield: "\e667";
$licons-var-shield-check: "\e668";
$licons-var-shield-alert: "\e669";
$licons-var-shield-cross: "\e66a";
$licons-var-lock: "\e66b";
$licons-var-rotation-lock: "\e66c";
$licons-var-unlock: "\e66d";
$licons-var-key: "\e66e";
$licons-var-key-hole: "\e66f";
$licons-var-toggle-off: "\e670";
$licons-var-toggle-on: "\e671";
$licons-var-cog: "\e672";
$licons-var-cog2: "\e673";
$licons-var-wrench: "\e674";
$licons-var-screwdriver: "\e675";
$licons-var-hammer-wrench: "\e676";
$licons-var-hammer: "\e677";
$licons-var-saw: "\e678";
$licons-var-axe: "\e679";
$licons-var-axe2: "\e67a";
$licons-var-shovel: "\e67b";
$licons-var-pickaxe: "\e67c";
$licons-var-factory: "\e67d";
$licons-var-factory2: "\e67e";
$licons-var-recycle: "\e67f";
$licons-var-trash: "\e680";
$licons-var-trash2: "\e681";
$licons-var-trash3: "\e682";
$licons-var-broom: "\e683";
$licons-var-game: "\e684";
$licons-var-gamepad: "\e685";
$licons-var-joystick: "\e686";
$licons-var-dice: "\e687";
$licons-var-spades: "\e688";
$licons-var-diamonds: "\e689";
$licons-var-clubs: "\e68a";
$licons-var-hearts: "\e68b";
$licons-var-heart: "\e68c";
$licons-var-star: "\e68d";
$licons-var-star-half: "\e68e";
$licons-var-star-empty: "\e68f";
$licons-var-flag: "\e690";
$licons-var-flag2: "\e691";
$licons-var-flag3: "\e692";
$licons-var-mailbox-full: "\e693";
$licons-var-mailbox-empty: "\e694";
$licons-var-at-sign: "\e695";
$licons-var-envelope: "\e696";
$licons-var-envelope-open: "\e697";
$licons-var-paperclip: "\e698";
$licons-var-paper-plane: "\e699";
$licons-var-reply: "\e69a";
$licons-var-reply-all: "\e69b";
$licons-var-inbox: "\e69c";
$licons-var-inbox2: "\e69d";
$licons-var-outbox: "\e69e";
$licons-var-box: "\e69f";
$licons-var-archive: "\e6a0";
$licons-var-archive2: "\e6a1";
$licons-var-drawers: "\e6a2";
$licons-var-drawers2: "\e6a3";
$licons-var-drawers3: "\e6a4";
$licons-var-eye: "\e6a5";
$licons-var-eye-crossed: "\e6a6";
$licons-var-eye-plus: "\e6a7";
$licons-var-eye-minus: "\e6a8";
$licons-var-binoculars: "\e6a9";
$licons-var-binoculars2: "\e6aa";
$licons-var-hdd: "\e6ab";
$licons-var-hdd-down: "\e6ac";
$licons-var-hdd-up: "\e6ad";
$licons-var-floppy-disk: "\e6ae";
$licons-var-disc: "\e6af";
$licons-var-tape2: "\e6b0";
$licons-var-printer: "\e6b1";
$licons-var-shredder: "\e6b2";
$licons-var-file-empty: "\e6b3";
$licons-var-file-add: "\e6b4";
$licons-var-file-check: "\e6b5";
$licons-var-file-lock: "\e6b6";
$licons-var-files: "\e6b7";
$licons-var-copy: "\e6b8";
$licons-var-compare: "\e6b9";
$licons-var-folder: "\e6ba";
$licons-var-folder-search: "\e6bb";
$licons-var-folder-plus: "\e6bc";
$licons-var-folder-minus: "\e6bd";
$licons-var-folder-download: "\e6be";
$licons-var-folder-upload: "\e6bf";
$licons-var-folder-star: "\e6c0";
$licons-var-folder-heart: "\e6c1";
$licons-var-folder-user: "\e6c2";
$licons-var-folder-shared: "\e6c3";
$licons-var-folder-music: "\e6c4";
$licons-var-folder-picture: "\e6c5";
$licons-var-folder-film: "\e6c6";
$licons-var-scissors: "\e6c7";
$licons-var-paste: "\e6c8";
$licons-var-clipboard-empty: "\e6c9";
$licons-var-clipboard-pencil: "\e6ca";
$licons-var-clipboard-text: "\e6cb";
$licons-var-clipboard-check: "\e6cc";
$licons-var-clipboard-down: "\e6cd";
$licons-var-clipboard-left: "\e6ce";
$licons-var-clipboard-alert: "\e6cf";
$licons-var-clipboard-user: "\e6d0";
$licons-var-register: "\e6d1";
$licons-var-enter: "\e6d2";
$licons-var-exit: "\e6d3";
$licons-var-papers: "\e6d4";
$licons-var-news: "\e6d5";
$licons-var-reading: "\e6d6";
$licons-var-typewriter: "\e6d7";
$licons-var-document: "\e6d8";
$licons-var-document2: "\e6d9";
$licons-var-graduation-hat: "\e6da";
$licons-var-license: "\e6db";
$licons-var-license2: "\e6dc";
$licons-var-medal-empty: "\e6dd";
$licons-var-medal-first: "\e6de";
$licons-var-medal-second: "\e6df";
$licons-var-medal-third: "\e6e0";
$licons-var-podium: "\e6e1";
$licons-var-trophy: "\e6e2";
$licons-var-trophy2: "\e6e3";
$licons-var-music-note: "\e6e4";
$licons-var-music-note2: "\e6e5";
$licons-var-music-note3: "\e6e6";
$licons-var-playlist: "\e6e7";
$licons-var-playlist-add: "\e6e8";
$licons-var-guitar: "\e6e9";
$licons-var-trumpet: "\e6ea";
$licons-var-album: "\e6eb";
$licons-var-shuffle: "\e6ec";
$licons-var-repeat-one: "\e6ed";
$licons-var-repeat: "\e6ee";
$licons-var-headphones: "\e6ef";
$licons-var-headset: "\e6f0";
$licons-var-loudspeaker: "\e6f1";
$licons-var-equalizer: "\e6f2";
$licons-var-theater: "\e6f3";
$licons-var-3d-glasses: "\e6f4";
$licons-var-ticket: "\e6f5";
$licons-var-presentation: "\e6f6";
$licons-var-play: "\e6f7";
$licons-var-film-play: "\e6f8";
$licons-var-clapboard-play: "\e6f9";
$licons-var-media: "\e6fa";
$licons-var-film: "\e6fb";
$licons-var-film2: "\e6fc";
$licons-var-surveillance: "\e6fd";
$licons-var-surveillance2: "\e6fe";
$licons-var-camera: "\e6ff";
$licons-var-camera-crossed: "\e700";
$licons-var-camera-play: "\e701";
$licons-var-time-lapse: "\e702";
$licons-var-record: "\e703";
$licons-var-camera2: "\e704";
$licons-var-camera-flip: "\e705";
$licons-var-panorama: "\e706";
$licons-var-time-lapse2: "\e707";
$licons-var-shutter: "\e708";
$licons-var-shutter2: "\e709";
$licons-var-face-detection: "\e70a";
$licons-var-flare: "\e70b";
$licons-var-convex: "\e70c";
$licons-var-concave: "\e70d";
$licons-var-picture: "\e70e";
$licons-var-picture2: "\e70f";
$licons-var-picture3: "\e710";
$licons-var-pictures: "\e711";
$licons-var-book: "\e712";
$licons-var-audio-book: "\e713";
$licons-var-book2: "\e714";
$licons-var-bookmark: "\e715";
$licons-var-bookmark2: "\e716";
$licons-var-label: "\e717";
$licons-var-library: "\e718";
$licons-var-library2: "\e719";
$licons-var-contacts: "\e71a";
$licons-var-profile: "\e71b";
$licons-var-portrait: "\e71c";
$licons-var-portrait2: "\e71d";
$licons-var-user: "\e71e";
$licons-var-user-plus: "\e71f";
$licons-var-user-minus: "\e720";
$licons-var-user-lock: "\e721";
$licons-var-users: "\e722";
$licons-var-users2: "\e723";
$licons-var-users-plus: "\e724";
$licons-var-users-minus: "\e725";
$licons-var-group-work: "\e726";
$licons-var-woman: "\e727";
$licons-var-man: "\e728";
$licons-var-baby: "\e729";
$licons-var-baby2: "\e72a";
$licons-var-baby3: "\e72b";
$licons-var-baby-bottle: "\e72c";
$licons-var-walk: "\e72d";
$licons-var-hand-waving: "\e72e";
$licons-var-jump: "\e72f";
$licons-var-run: "\e730";
$licons-var-woman2: "\e731";
$licons-var-man2: "\e732";
$licons-var-man-woman: "\e733";
$licons-var-height: "\e734";
$licons-var-weight: "\e735";
$licons-var-scale: "\e736";
$licons-var-button: "\e737";
$licons-var-bow-tie: "\e738";
$licons-var-tie: "\e739";
$licons-var-socks: "\e73a";
$licons-var-shoe: "\e73b";
$licons-var-shoes: "\e73c";
$licons-var-hat: "\e73d";
$licons-var-pants: "\e73e";
$licons-var-shorts: "\e73f";
$licons-var-flip-flops: "\e740";
$licons-var-shirt: "\e741";
$licons-var-hanger: "\e742";
$licons-var-laundry: "\e743";
$licons-var-store: "\e744";
$licons-var-haircut: "\e745";
$licons-var-store-24: "\e746";
$licons-var-barcode: "\e747";
$licons-var-barcode2: "\e748";
$licons-var-barcode3: "\e749";
$licons-var-cashier: "\e74a";
$licons-var-bag: "\e74b";
$licons-var-bag2: "\e74c";
$licons-var-cart: "\e74d";
$licons-var-cart-empty: "\e74e";
$licons-var-cart-full: "\e74f";
$licons-var-cart-plus: "\e750";
$licons-var-cart-plus2: "\e751";
$licons-var-cart-add: "\e752";
$licons-var-cart-remove: "\e753";
$licons-var-cart-exchange: "\e754";
$licons-var-tag: "\e755";
$licons-var-tags: "\e756";
$licons-var-receipt: "\e757";
$licons-var-wallet: "\e758";
$licons-var-credit-card: "\e759";
$licons-var-cash-dollar: "\e75a";
$licons-var-cash-euro: "\e75b";
$licons-var-cash-pound: "\e75c";
$licons-var-cash-yen: "\e75d";
$licons-var-bag-dollar: "\e75e";
$licons-var-bag-euro: "\e75f";
$licons-var-bag-pound: "\e760";
$licons-var-bag-yen: "\e761";
$licons-var-coin-dollar: "\e762";
$licons-var-coin-euro: "\e763";
$licons-var-coin-pound: "\e764";
$licons-var-coin-yen: "\e765";
$licons-var-calculator: "\e766";
$licons-var-calculator2: "\e767";
$licons-var-abacus: "\e768";
$licons-var-vault: "\e769";
$licons-var-telephone: "\e76a";
$licons-var-phone-lock: "\e76b";
$licons-var-phone-wave: "\e76c";
$licons-var-phone-pause: "\e76d";
$licons-var-phone-outgoing: "\e76e";
$licons-var-phone-incoming: "\e76f";
$licons-var-phone-in-out: "\e770";
$licons-var-phone-error: "\e771";
$licons-var-phone-sip: "\e772";
$licons-var-phone-plus: "\e773";
$licons-var-phone-minus: "\e774";
$licons-var-voicemail: "\e775";
$licons-var-dial: "\e776";
$licons-var-telephone2: "\e777";
$licons-var-pushpin: "\e778";
$licons-var-pushpin2: "\e779";
$licons-var-map-marker: "\e77a";
$licons-var-map-marker-user: "\e77b";
$licons-var-map-marker-down: "\e77c";
$licons-var-map-marker-check: "\e77d";
$licons-var-map-marker-crossed: "\e77e";
$licons-var-radar: "\e77f";
$licons-var-compass2: "\e780";
$licons-var-map: "\e781";
$licons-var-map2: "\e782";
$licons-var-location: "\e783";
$licons-var-road-sign: "\e784";
$licons-var-calendar-empty: "\e785";
$licons-var-calendar-check: "\e786";
$licons-var-calendar-cross: "\e787";
$licons-var-calendar-31: "\e788";
$licons-var-calendar-full: "\e789";
$licons-var-calendar-insert: "\e78a";
$licons-var-calendar-text: "\e78b";
$licons-var-calendar-user: "\e78c";
$licons-var-mouse: "\e78d";
$licons-var-mouse-left: "\e78e";
$licons-var-mouse-right: "\e78f";
$licons-var-mouse-both: "\e790";
$licons-var-keyboard: "\e791";
$licons-var-keyboard-up: "\e792";
$licons-var-keyboard-down: "\e793";
$licons-var-delete: "\e794";
$licons-var-spell-check: "\e795";
$licons-var-escape: "\e796";
$licons-var-enter2: "\e797";
$licons-var-screen: "\e798";
$licons-var-aspect-ratio: "\e799";
$licons-var-signal: "\e79a";
$licons-var-signal-lock: "\e79b";
$licons-var-signal-80: "\e79c";
$licons-var-signal-60: "\e79d";
$licons-var-signal-40: "\e79e";
$licons-var-signal-20: "\e79f";
$licons-var-signal-0: "\e7a0";
$licons-var-signal-blocked: "\e7a1";
$licons-var-sim: "\e7a2";
$licons-var-flash-memory: "\e7a3";
$licons-var-usb-drive: "\e7a4";
$licons-var-phone: "\e7a5";
$licons-var-smartphone: "\e7a6";
$licons-var-smartphone-notification: "\e7a7";
$licons-var-smartphone-vibration: "\e7a8";
$licons-var-smartphone-embed: "\e7a9";
$licons-var-smartphone-waves: "\e7aa";
$licons-var-tablet: "\e7ab";
$licons-var-tablet2: "\e7ac";
$licons-var-laptop: "\e7ad";
$licons-var-laptop-phone: "\e7ae";
$licons-var-desktop: "\e7af";
$licons-var-launch: "\e7b0";
$licons-var-new-tab: "\e7b1";
$licons-var-window: "\e7b2";
$licons-var-cable: "\e7b3";
$licons-var-cable2: "\e7b4";
$licons-var-tv: "\e7b5";
$licons-var-radio: "\e7b6";
$licons-var-remote-control: "\e7b7";
$licons-var-power-switch: "\e7b8";
$licons-var-power: "\e7b9";
$licons-var-power-crossed: "\e7ba";
$licons-var-flash-auto: "\e7bb";
$licons-var-lamp: "\e7bc";
$licons-var-flashlight: "\e7bd";
$licons-var-lampshade: "\e7be";
$licons-var-cord: "\e7bf";
$licons-var-outlet: "\e7c0";
$licons-var-battery-power: "\e7c1";
$licons-var-battery-empty: "\e7c2";
$licons-var-battery-alert: "\e7c3";
$licons-var-battery-error: "\e7c4";
$licons-var-battery-low1: "\e7c5";
$licons-var-battery-low2: "\e7c6";
$licons-var-battery-low3: "\e7c7";
$licons-var-battery-mid1: "\e7c8";
$licons-var-battery-mid2: "\e7c9";
$licons-var-battery-mid3: "\e7ca";
$licons-var-battery-full: "\e7cb";
$licons-var-battery-charging: "\e7cc";
$licons-var-battery-charging2: "\e7cd";
$licons-var-battery-charging3: "\e7ce";
$licons-var-battery-charging4: "\e7cf";
$licons-var-battery-charging5: "\e7d0";
$licons-var-battery-charging6: "\e7d1";
$licons-var-battery-charging7: "\e7d2";
$licons-var-chip: "\e7d3";
$licons-var-chip-x64: "\e7d4";
$licons-var-chip-x86: "\e7d5";
$licons-var-bubble: "\e7d6";
$licons-var-bubbles: "\e7d7";
$licons-var-bubble-dots: "\e7d8";
$licons-var-bubble-alert: "\e7d9";
$licons-var-bubble-question: "\e7da";
$licons-var-bubble-text: "\e7db";
$licons-var-bubble-pencil: "\e7dc";
$licons-var-bubble-picture: "\e7dd";
$licons-var-bubble-video: "\e7de";
$licons-var-bubble-user: "\e7df";
$licons-var-bubble-quote: "\e7e0";
$licons-var-bubble-heart: "\e7e1";
$licons-var-bubble-emoticon: "\e7e2";
$licons-var-bubble-attachment: "\e7e3";
$licons-var-phone-bubble: "\e7e4";
$licons-var-quote-open: "\e7e5";
$licons-var-quote-close: "\e7e6";
$licons-var-dna: "\e7e7";
$licons-var-heart-pulse: "\e7e8";
$licons-var-pulse: "\e7e9";
$licons-var-syringe: "\e7ea";
$licons-var-pills: "\e7eb";
$licons-var-first-aid: "\e7ec";
$licons-var-lifebuoy: "\e7ed";
$licons-var-bandage: "\e7ee";
$licons-var-bandages: "\e7ef";
$licons-var-thermometer: "\e7f0";
$licons-var-microscope: "\e7f1";
$licons-var-brain: "\e7f2";
$licons-var-beaker: "\e7f3";
$licons-var-skull: "\e7f4";
$licons-var-bone: "\e7f5";
$licons-var-construction: "\e7f6";
$licons-var-construction-cone: "\e7f7";
$licons-var-pie-chart: "\e7f8";
$licons-var-pie-chart2: "\e7f9";
$licons-var-graph: "\e7fa";
$licons-var-chart-growth: "\e7fb";
$licons-var-chart-bars: "\e7fc";
$licons-var-chart-settings: "\e7fd";
$licons-var-cake: "\e7fe";
$licons-var-gift: "\e7ff";
$licons-var-balloon: "\e800";
$licons-var-rank: "\e801";
$licons-var-rank2: "\e802";
$licons-var-rank3: "\e803";
$licons-var-crown: "\e804";
$licons-var-lotus: "\e805";
$licons-var-diamond: "\e806";
$licons-var-diamond2: "\e807";
$licons-var-diamond3: "\e808";
$licons-var-diamond4: "\e809";
$licons-var-linearicons: "\e80a";
$licons-var-teacup: "\e80b";
$licons-var-teapot: "\e80c";
$licons-var-glass: "\e80d";
$licons-var-bottle2: "\e80e";
$licons-var-glass-cocktail: "\e80f";
$licons-var-glass2: "\e810";
$licons-var-dinner: "\e811";
$licons-var-dinner2: "\e812";
$licons-var-chef: "\e813";
$licons-var-scale2: "\e814";
$licons-var-egg: "\e815";
$licons-var-egg2: "\e816";
$licons-var-eggs: "\e817";
$licons-var-platter: "\e818";
$licons-var-steak: "\e819";
$licons-var-hamburger: "\e81a";
$licons-var-hotdog: "\e81b";
$licons-var-pizza: "\e81c";
$licons-var-sausage: "\e81d";
$licons-var-chicken: "\e81e";
$licons-var-fish: "\e81f";
$licons-var-carrot: "\e820";
$licons-var-cheese: "\e821";
$licons-var-bread: "\e822";
$licons-var-ice-cream: "\e823";
$licons-var-ice-cream2: "\e824";
$licons-var-candy: "\e825";
$licons-var-lollipop: "\e826";
$licons-var-coffee-bean: "\e827";
$licons-var-coffee-cup: "\e828";
$licons-var-cherry: "\e829";
$licons-var-grapes: "\e82a";
$licons-var-citrus: "\e82b";
$licons-var-apple: "\e82c";
$licons-var-leaf: "\e82d";
$licons-var-landscape: "\e82e";
$licons-var-pine-tree: "\e82f";
$licons-var-tree: "\e830";
$licons-var-cactus: "\e831";
$licons-var-paw: "\e832";
$licons-var-footprint: "\e833";
$licons-var-speed-slow: "\e834";
$licons-var-speed-medium: "\e835";
$licons-var-speed-fast: "\e836";
$licons-var-rocket: "\e837";
$licons-var-hammer2: "\e838";
$licons-var-balance: "\e839";
$licons-var-briefcase: "\e83a";
$licons-var-luggage-weight: "\e83b";
$licons-var-dolly: "\e83c";
$licons-var-plane: "\e83d";
$licons-var-plane-crossed: "\e83e";
$licons-var-helicopter: "\e83f";
$licons-var-traffic-lights: "\e840";
$licons-var-siren: "\e841";
$licons-var-road: "\e842";
$licons-var-engine: "\e843";
$licons-var-oil-pressure: "\e844";
$licons-var-coolant-temperature: "\e845";
$licons-var-car-battery: "\e846";
$licons-var-gas: "\e847";
$licons-var-gallon: "\e848";
$licons-var-transmission: "\e849";
$licons-var-car: "\e84a";
$licons-var-car-wash: "\e84b";
$licons-var-car-wash2: "\e84c";
$licons-var-bus: "\e84d";
$licons-var-bus2: "\e84e";
$licons-var-car2: "\e84f";
$licons-var-parking: "\e850";
$licons-var-car-lock: "\e851";
$licons-var-taxi: "\e852";
$licons-var-car-siren: "\e853";
$licons-var-car-wash3: "\e854";
$licons-var-car-wash4: "\e855";
$licons-var-ambulance: "\e856";
$licons-var-truck: "\e857";
$licons-var-trailer: "\e858";
$licons-var-scale-truck: "\e859";
$licons-var-train: "\e85a";
$licons-var-ship: "\e85b";
$licons-var-ship2: "\e85c";
$licons-var-anchor: "\e85d";
$licons-var-boat: "\e85e";
$licons-var-bicycle: "\e85f";
$licons-var-bicycle2: "\e860";
$licons-var-dumbbell: "\e861";
$licons-var-bench-press: "\e862";
$licons-var-swim: "\e863";
$licons-var-football: "\e864";
$licons-var-baseball-bat: "\e865";
$licons-var-baseball: "\e866";
$licons-var-tennis: "\e867";
$licons-var-tennis2: "\e868";
$licons-var-ping-pong: "\e869";
$licons-var-hockey: "\e86a";
$licons-var-8ball: "\e86b";
$licons-var-bowling: "\e86c";
$licons-var-bowling-pins: "\e86d";
$licons-var-golf: "\e86e";
$licons-var-golf2: "\e86f";
$licons-var-archery: "\e870";
$licons-var-slingshot: "\e871";
$licons-var-soccer: "\e872";
$licons-var-basketball: "\e873";
$licons-var-cube: "\e874";
$licons-var-3d-rotate: "\e875";
$licons-var-puzzle: "\e876";
$licons-var-glasses: "\e877";
$licons-var-glasses2: "\e878";
$licons-var-accessibility: "\e879";
$licons-var-wheelchair: "\e87a";
$licons-var-wall: "\e87b";
$licons-var-fence: "\e87c";
$licons-var-wall2: "\e87d";
$licons-var-icons: "\e87e";
$licons-var-resize-handle: "\e87f";
$licons-var-icons2: "\e880";
$licons-var-select: "\e881";
$licons-var-select2: "\e882";
$licons-var-site-map: "\e883";
$licons-var-earth: "\e884";
$licons-var-earth-lock: "\e885";
$licons-var-network: "\e886";
$licons-var-network-lock: "\e887";
$licons-var-planet: "\e888";
$licons-var-happy: "\e889";
$licons-var-smile: "\e88a";
$licons-var-grin: "\e88b";
$licons-var-tongue: "\e88c";
$licons-var-sad: "\e88d";
$licons-var-wink: "\e88e";
$licons-var-dream: "\e88f";
$licons-var-shocked: "\e890";
$licons-var-shocked2: "\e891";
$licons-var-tongue2: "\e892";
$licons-var-neutral: "\e893";
$licons-var-happy-grin: "\e894";
$licons-var-cool: "\e895";
$licons-var-mad: "\e896";
$licons-var-grin-evil: "\e897";
$licons-var-evil: "\e898";
$licons-var-wow: "\e899";
$licons-var-annoyed: "\e89a";
$licons-var-wondering: "\e89b";
$licons-var-confused: "\e89c";
$licons-var-zipped: "\e89d";
$licons-var-grumpy: "\e89e";
$licons-var-mustache: "\e89f";
$licons-var-tombstone-hipster: "\e8a0";
$licons-var-tombstone: "\e8a1";
$licons-var-ghost: "\e8a2";
$licons-var-ghost-hipster: "\e8a3";
$licons-var-halloween: "\e8a4";
$licons-var-christmas: "\e8a5";
$licons-var-easter-egg: "\e8a6";
$licons-var-mustache2: "\e8a7";
$licons-var-mustache-glasses: "\e8a8";
$licons-var-pipe: "\e8a9";
$licons-var-alarm: "\e8aa";
$licons-var-alarm-add: "\e8ab";
$licons-var-alarm-snooze: "\e8ac";
$licons-var-alarm-ringing: "\e8ad";
$licons-var-bullhorn: "\e8ae";
$licons-var-hearing: "\e8af";
$licons-var-volume-high: "\e8b0";
$licons-var-volume-medium: "\e8b1";
$licons-var-volume-low: "\e8b2";
$licons-var-volume: "\e8b3";
$licons-var-mute: "\e8b4";
$licons-var-lan: "\e8b5";
$licons-var-lan2: "\e8b6";
$licons-var-wifi: "\e8b7";
$licons-var-wifi-lock: "\e8b8";
$licons-var-wifi-blocked: "\e8b9";
$licons-var-wifi-mid: "\e8ba";
$licons-var-wifi-low: "\e8bb";
$licons-var-wifi-low2: "\e8bc";
$licons-var-wifi-alert: "\e8bd";
$licons-var-wifi-alert-mid: "\e8be";
$licons-var-wifi-alert-low: "\e8bf";
$licons-var-wifi-alert-low2: "\e8c0";
$licons-var-stream: "\e8c1";
$licons-var-stream-check: "\e8c2";
$licons-var-stream-error: "\e8c3";
$licons-var-stream-alert: "\e8c4";
$licons-var-communication: "\e8c5";
$licons-var-communication-crossed: "\e8c6";
$licons-var-broadcast: "\e8c7";
$licons-var-antenna: "\e8c8";
$licons-var-satellite: "\e8c9";
$licons-var-satellite2: "\e8ca";
$licons-var-mic: "\e8cb";
$licons-var-mic-mute: "\e8cc";
$licons-var-mic2: "\e8cd";
$licons-var-spotlights: "\e8ce";
$licons-var-hourglass: "\e8cf";
$licons-var-loading: "\e8d0";
$licons-var-loading2: "\e8d1";
$licons-var-loading3: "\e8d2";
$licons-var-refresh: "\e8d3";
$licons-var-refresh2: "\e8d4";
$licons-var-undo: "\e8d5";
$licons-var-redo: "\e8d6";
$licons-var-jump2: "\e8d7";
$licons-var-undo2: "\e8d8";
$licons-var-redo2: "\e8d9";
$licons-var-sync: "\e8da";
$licons-var-repeat-one2: "\e8db";
$licons-var-sync-crossed: "\e8dc";
$licons-var-sync2: "\e8dd";
$licons-var-repeat-one3: "\e8de";
$licons-var-sync-crossed2: "\e8df";
$licons-var-return: "\e8e0";
$licons-var-return2: "\e8e1";
$licons-var-refund: "\e8e2";
$licons-var-history: "\e8e3";
$licons-var-history2: "\e8e4";
$licons-var-self-timer: "\e8e5";
$licons-var-clock: "\e8e6";
$licons-var-clock2: "\e8e7";
$licons-var-clock3: "\e8e8";
$licons-var-watch: "\e8e9";
$licons-var-alarm2: "\e8ea";
$licons-var-alarm-add2: "\e8eb";
$licons-var-alarm-remove: "\e8ec";
$licons-var-alarm-check: "\e8ed";
$licons-var-alarm-error: "\e8ee";
$licons-var-timer: "\e8ef";
$licons-var-timer-crossed: "\e8f0";
$licons-var-timer2: "\e8f1";
$licons-var-timer-crossed2: "\e8f2";
$licons-var-download: "\e8f3";
$licons-var-upload: "\e8f4";
$licons-var-download2: "\e8f5";
$licons-var-upload2: "\e8f6";
$licons-var-enter-up: "\e8f7";
$licons-var-enter-down: "\e8f8";
$licons-var-enter-left: "\e8f9";
$licons-var-enter-right: "\e8fa";
$licons-var-exit-up: "\e8fb";
$licons-var-exit-down: "\e8fc";
$licons-var-exit-left: "\e8fd";
$licons-var-exit-right: "\e8fe";
$licons-var-enter-up2: "\e8ff";
$licons-var-enter-down2: "\e900";
$licons-var-enter-vertical: "\e901";
$licons-var-enter-left2: "\e902";
$licons-var-enter-right2: "\e903";
$licons-var-enter-horizontal: "\e904";
$licons-var-exit-up2: "\e905";
$licons-var-exit-down2: "\e906";
$licons-var-exit-left2: "\e907";
$licons-var-exit-right2: "\e908";
$licons-var-cli: "\e909";
$licons-var-bug: "\e90a";
$licons-var-code: "\e90b";
$licons-var-file-code: "\e90c";
$licons-var-file-image: "\e90d";
$licons-var-file-zip: "\e90e";
$licons-var-file-audio: "\e90f";
$licons-var-file-video: "\e910";
$licons-var-file-preview: "\e911";
$licons-var-file-charts: "\e912";
$licons-var-file-stats: "\e913";
$licons-var-file-spreadsheet: "\e914";
$licons-var-link: "\e915";
$licons-var-unlink: "\e916";
$licons-var-link2: "\e917";
$licons-var-unlink2: "\e918";
$licons-var-thumbs-up: "\e919";
$licons-var-thumbs-down: "\e91a";
$licons-var-thumbs-up2: "\e91b";
$licons-var-thumbs-down2: "\e91c";
$licons-var-thumbs-up3: "\e91d";
$licons-var-thumbs-down3: "\e91e";
$licons-var-share: "\e91f";
$licons-var-share2: "\e920";
$licons-var-share3: "\e921";
$licons-var-magnifier: "\e922";
$licons-var-file-search: "\e923";
$licons-var-find-replace: "\e924";
$licons-var-zoom-in: "\e925";
$licons-var-zoom-out: "\e926";
$licons-var-loupe: "\e927";
$licons-var-loupe-zoom-in: "\e928";
$licons-var-loupe-zoom-out: "\e929";
$licons-var-cross: "\e92a";
$licons-var-menu: "\e92b";
$licons-var-list: "\e92c";
$licons-var-list2: "\e92d";
$licons-var-list3: "\e92e";
$licons-var-menu2: "\e92f";
$licons-var-list4: "\e930";
$licons-var-menu3: "\e931";
$licons-var-exclamation: "\e932";
$licons-var-question: "\e933";
$licons-var-check: "\e934";
$licons-var-cross2: "\e935";
$licons-var-plus: "\e936";
$licons-var-minus: "\e937";
$licons-var-percent: "\e938";
$licons-var-chevron-up: "\e939";
$licons-var-chevron-down: "\e93a";
$licons-var-chevron-left: "\e93b";
$licons-var-chevron-right: "\e93c";
$licons-var-chevrons-expand-vertical: "\e93d";
$licons-var-chevrons-expand-horizontal: "\e93e";
$licons-var-chevrons-contract-vertical: "\e93f";
$licons-var-chevrons-contract-horizontal: "\e940";
$licons-var-arrow-up: "\e941";
$licons-var-arrow-down: "\e942";
$licons-var-arrow-left: "\e943";
$licons-var-arrow-right: "\e944";
$licons-var-arrow-up-right: "\e945";
$licons-var-arrows-merge: "\e946";
$licons-var-arrows-split: "\e947";
$licons-var-arrow-divert: "\e948";
$licons-var-arrow-return: "\e949";
$licons-var-expand: "\e94a";
$licons-var-contract: "\e94b";
$licons-var-expand2: "\e94c";
$licons-var-contract2: "\e94d";
$licons-var-move: "\e94e";
$licons-var-tab: "\e94f";
$licons-var-arrow-wave: "\e950";
$licons-var-expand3: "\e951";
$licons-var-expand4: "\e952";
$licons-var-contract3: "\e953";
$licons-var-notification: "\e954";
$licons-var-warning: "\e955";
$licons-var-notification-circle: "\e956";
$licons-var-question-circle: "\e957";
$licons-var-menu-circle: "\e958";
$licons-var-checkmark-circle: "\e959";
$licons-var-cross-circle: "\e95a";
$licons-var-plus-circle: "\e95b";
$licons-var-circle-minus: "\e95c";
$licons-var-percent-circle: "\e95d";
$licons-var-arrow-up-circle: "\e95e";
$licons-var-arrow-down-circle: "\e95f";
$licons-var-arrow-left-circle: "\e960";
$licons-var-arrow-right-circle: "\e961";
$licons-var-chevron-up-circle: "\e962";
$licons-var-chevron-down-circle: "\e963";
$licons-var-chevron-left-circle: "\e964";
$licons-var-chevron-right-circle: "\e965";
$licons-var-backward-circle: "\e966";
$licons-var-first-circle: "\e967";
$licons-var-previous-circle: "\e968";
$licons-var-stop-circle: "\e969";
$licons-var-play-circle: "\e96a";
$licons-var-pause-circle: "\e96b";
$licons-var-next-circle: "\e96c";
$licons-var-last-circle: "\e96d";
$licons-var-forward-circle: "\e96e";
$licons-var-eject-circle: "\e96f";
$licons-var-crop: "\e970";
$licons-var-frame-expand: "\e971";
$licons-var-frame-contract: "\e972";
$licons-var-focus: "\e973";
$licons-var-transform: "\e974";
$licons-var-grid: "\e975";
$licons-var-grid-crossed: "\e976";
$licons-var-layers: "\e977";
$licons-var-layers-crossed: "\e978";
$licons-var-toggle: "\e979";
$licons-var-rulers: "\e97a";
$licons-var-ruler: "\e97b";
$licons-var-funnel: "\e97c";
$licons-var-flip-horizontal: "\e97d";
$licons-var-flip-vertical: "\e97e";
$licons-var-flip-horizontal2: "\e97f";
$licons-var-flip-vertical2: "\e980";
$licons-var-angle: "\e981";
$licons-var-angle2: "\e982";
$licons-var-subtract: "\e983";
$licons-var-combine: "\e984";
$licons-var-intersect: "\e985";
$licons-var-exclude: "\e986";
$licons-var-align-center-vertical: "\e987";
$licons-var-align-right: "\e988";
$licons-var-align-bottom: "\e989";
$licons-var-align-left: "\e98a";
$licons-var-align-center-horizontal: "\e98b";
$licons-var-align-top: "\e98c";
$licons-var-square: "\e98d";
$licons-var-plus-square: "\e98e";
$licons-var-minus-square: "\e98f";
$licons-var-percent-square: "\e990";
$licons-var-arrow-up-square: "\e991";
$licons-var-arrow-down-square: "\e992";
$licons-var-arrow-left-square: "\e993";
$licons-var-arrow-right-square: "\e994";
$licons-var-chevron-up-square: "\e995";
$licons-var-chevron-down-square: "\e996";
$licons-var-chevron-left-square: "\e997";
$licons-var-chevron-right-square: "\e998";
$licons-var-check-square: "\e999";
$licons-var-cross-square: "\e99a";
$licons-var-menu-square: "\e99b";
$licons-var-prohibited: "\e99c";
$licons-var-circle: "\e99d";
$licons-var-radio-button: "\e99e";
$licons-var-ligature: "\e99f";
$licons-var-text-format: "\e9a0";
$licons-var-text-format-remove: "\e9a1";
$licons-var-text-size: "\e9a2";
$licons-var-bold: "\e9a3";
$licons-var-italic: "\e9a4";
$licons-var-underline: "\e9a5";
$licons-var-strikethrough: "\e9a6";
$licons-var-highlight: "\e9a7";
$licons-var-text-align-left: "\e9a8";
$licons-var-text-align-center: "\e9a9";
$licons-var-text-align-right: "\e9aa";
$licons-var-text-align-justify: "\e9ab";
$licons-var-line-spacing: "\e9ac";
$licons-var-indent-increase: "\e9ad";
$licons-var-indent-decrease: "\e9ae";
$licons-var-text-wrap: "\e9af";
$licons-var-pilcrow: "\e9b0";
$licons-var-direction-ltr: "\e9b1";
$licons-var-direction-rtl: "\e9b2";
$licons-var-page-break: "\e9b3";
$licons-var-page-break2: "\e9b4";
$licons-var-sort-alpha-asc: "\e9b5";
$licons-var-sort-alpha-desc: "\e9b6";
$licons-var-sort-numeric-asc: "\e9b7";
$licons-var-sort-numeric-desc: "\e9b8";
$licons-var-sort-amount-asc: "\e9b9";
$licons-var-sort-amount-desc: "\e9ba";
$licons-var-sort-time-asc: "\e9bb";
$licons-var-sort-time-desc: "\e9bc";
$licons-var-sigma: "\e9bd";
$licons-var-pencil-line: "\e9be";
$licons-var-hand: "\e9bf";
$licons-var-pointer-up: "\e9c0";
$licons-var-pointer-right: "\e9c1";
$licons-var-pointer-down: "\e9c2";
$licons-var-pointer-left: "\e9c3";
$licons-var-finger-tap: "\e9c4";
$licons-var-fingers-tap: "\e9c5";
$licons-var-reminder: "\e9c6";
$licons-var-fingers-crossed: "\e9c7";
$licons-var-fingers-victory: "\e9c8";
$licons-var-gesture-zoom: "\e9c9";
$licons-var-gesture-pinch: "\e9ca";
$licons-var-fingers-scroll-horizontal: "\e9cb";
$licons-var-fingers-scroll-vertical: "\e9cc";
$licons-var-fingers-scroll-left: "\e9cd";
$licons-var-fingers-scroll-right: "\e9ce";
$licons-var-hand2: "\e9cf";
$licons-var-pointer-up2: "\e9d0";
$licons-var-pointer-right2: "\e9d1";
$licons-var-pointer-down2: "\e9d2";
$licons-var-pointer-left2: "\e9d3";
$licons-var-finger-tap2: "\e9d4";
$licons-var-fingers-tap2: "\e9d5";
$licons-var-reminder2: "\e9d6";
$licons-var-gesture-zoom2: "\e9d7";
$licons-var-gesture-pinch2: "\e9d8";
$licons-var-fingers-scroll-horizontal2: "\e9d9";
$licons-var-fingers-scroll-vertical2: "\e9da";
$licons-var-fingers-scroll-left2: "\e9db";
$licons-var-fingers-scroll-right2: "\e9dc";
$licons-var-fingers-scroll-vertical3: "\e9dd";
$licons-var-border-style: "\e9de";
$licons-var-border-all: "\e9df";
$licons-var-border-outer: "\e9e0";
$licons-var-border-inner: "\e9e1";
$licons-var-border-top: "\e9e2";
$licons-var-border-horizontal: "\e9e3";
$licons-var-border-bottom: "\e9e4";
$licons-var-border-left: "\e9e5";
$licons-var-border-vertical: "\e9e6";
$licons-var-border-right: "\e9e7";
$licons-var-border-none: "\e9e8";
$licons-var-ellipsis: "\e9e9";

//# fashion warn +elevation